[2021-02-22 21:00] bghgary commented on #616
Related #423

[2021-02-23 16:55] davidebaltieri31 opened #618 "Android, xr HitTest bug"
I'm on Android. I've implemented an AR experience which draws detected planes and a 3d object on the hit test location. Continuously updated each frame.
I'm ciclying through the results of the onHitTestResultObservable similarly to this:
xrHitTestModule.onHitTestResultObservable.add((results) => {
    for (var i = 0; i < results.length; i++) {
        BABYLON.Tools.Log("xrHitTestModule " + i + " "

[2021-02-23 17:01] davidebaltieri31 commented on #618
Adding to that, when I get 2 hit the position they both take is that of the most distant plane-hit, which makes the bug a bit annoying.

[2021-02-23 18:15] ryantrem commented on #618
@Alex-MSFT any thoughts here?

[2021-02-23 18:16] Drigax opened #620 "Graphics contract changes"
Now that we're seeing an increasing amount of platform-specific functionality via #482 and #606 it would be a good idea to change the entrypoints for Graphics to be more easily extensible without breaking existing users.

It seems like a good solution would be to replace the current templated entry points such as `CreateGraphics` with a series of config structs for each supported platform. We shou

[2021-02-23 18:21] bghgary commented on #615
Closing as dupe of #31.

[2021-02-23 18:21] #615 closed

[2021-02-23 18:48] bghgary commented on #423
Closing this in favor of #616 as the title is a bit more clear.

[2021-02-23 18:48] #423 closed

[2021-02-23 18:54] bghgary commented on #619
@RaananW Do you have any thoughts on this? Is this even supported by Babylon.js yet?

[2021-02-23 19:30] Alex-MSFT commented on #618
This is a bug in the Babylon.js WebXRHitTestModule.  There is a "feature" to not automatically create a separate clone for the the position and rotation for each hit test result to save on new allocations, but that means only one vector, quaternion, transformation matrix are used to represent the hit test results for each frame, which is why they are always identical.  Most likely we should change

[2021-02-23 19:47] RaananW commented on #619
Yes, it is. The image tracking feature was added when released by the browsers and work on mobile browsers:

https://github.com/BabylonJS/Babylon.js/pull/9512

https://twitter.com/RaananW/status/1333437510840705024

[2021-02-23 20:11] bghgary commented on #619
Thanks. The next question is whether this feature is supported by the platforms we support (OpenXR, ARCore, ARKit). @RaananW How well supported is this feature on WebXR across devices?

[2021-02-23 20:31] RaananW commented on #619
Only supported on chrome for android. Its basic image recognizer, i would guess that both arcore and arkit support it naively, at least for marker recognition

[2021-02-23 20:33] ryantrem commented on #618
@raananw FYI

[2021-02-23 20:40] bghgary commented on #619
Any ideas on OpenXR?

[2021-02-23 20:42] RaananW commented on #618
Sounds like an issue on Babylon's side. Should behave differently.

If you have a fee cycles to fix it please do, if not you can submit an issue and I'll find the time to fix it.

[2021-02-24 08:22] RaananW commented on #619
Not supported (yet?), AFAIK. couldn't find any reference online as well.

[2021-02-24 19:14] bghgary commented on #619
@saidmoya12 Is the feature still useful for you if it doesn't work everywhere?

[2021-02-25 09:07] davidebaltieri31 commented on #618
Thanks, that fixed the problem

[2021-02-25 17:36] ryantrem commented on #573
This seems to be fixed by https://github.com/BabylonJS/BabylonNative/pull/591

[2021-02-26 09:21] CedricGuillemet commented on #334
Current state:
- [x] iOS functional
- [ ] Android in progress
- [ ] Win32/UWP not started

First PR to be reviewed when Android and iOS will be functional.
To do after the 1st PR:
- [ ] support front/back camera (need some changes in bjs)
- [ ] test and improve camera lost device/app switch while streaming
- [ ] win32/uwp if any interest
- [ ] MacOS if any interest
- [ ] Linux if any interest

iOS

[2021-02-26 20:57] bghgary commented on #31
From forum post: https://forum.babylonjs.com/t/babylonnative-questions/9716

https://github.com/LabSound/LabSound

[2021-02-26 21:04] chrisfromwork commented on #31
some real time filter libraries:

https://github.com/vinniefalco/DSPFilters
https://github.com/berndporr/iir1

[2021-03-01 16:32] f4z3k4s opened #624 "importing certain .glb files throws with Unsupported attribute type: 5123"
Importing certain `.glb` files causes the package to throw with Unsupported attribute type: 5123. This error apparently comes from

[code]

which doesn't handle the case for `VertexBuffer.UNSIGNED_SHORT`. From the code it seems intentional, but that `.glb` file is definitely not broken and can be opened with blender for example.

Let me know if you need any more info or the sample `.glb` file.

[2021-03-01 23:04] tymlipari opened #623 "Add XR Validation Tests"
To prevent regressions in the XR modules, we should add some automated validation tests to guard against regressions to those scenarios.

[2021-03-02 13:50] CedricGuillemet commented on #334
PR https://github.com/BabylonJS/BabylonNative/pull/614

[2021-03-03 10:19] #524 closed

[2021-03-03 12:53] CedricGuillemet commented on #616
### A bit of explanation why the issue is renamed from 'text rendering' to 'canvas polyfill':

Many rendered elements in bjs are done through HTML element. The HTML element surface is then copied into a texture and used by bjs. It's the case for GUI, webcam, video,...

Example with drawtext in dynamictexture.ts:
- texture and canvas are created in the constructor

https://github.com/BabylonJS/Baby

[2021-03-04 18:11] Drigax opened #625 "Implement Graphics::Impl::DevicePixelRatio() properly"
In UWP, Due to the constraints of the platform, we need a way to dispatch calls to the UI thread from the worker threads that handles the graphics work and Javascript callbacks.

Currently, I plan to add this as a UWP-only member of our configuration struct, which would be cached and accessible from the Graphics::Impl object.

In Linux, we need a reference to our X11 Display in order to use the XL

[2021-03-05 15:58] bdbelevate opened #626 "XR mode does not work on Oculus"
Currently, XR mode does not work on Oculus. It appears that the XR code is expecting Google's ARCore if it's an android device (which Oculus is).

https://github.com/BabylonJS/BabylonNative/blob/master/Dependencies/xr/CMakeLists.txt

[code]

It looks like OpenXR needs to be implemented for more than just the Windows platform. I will take a look and see if I can figure out how to make that work, bu

[2021-03-05 18:20] bghgary commented on #626
Related: https://github.com/BabylonJS/BabylonNative/issues/231

We haven't tested on Occulus yet.

[2021-03-08 08:16] f4z3k4s commented on #624
I requested access and unfortunately can't provide the `.glb` file as it's marked as confidential by the provider. Sorry about that. Thanks for the quick response. :)

[2021-03-08 08:16] #624 closed

[2021-03-08 23:20] #540 closed

[2021-03-08 23:20] #555 closed

[2021-03-08 23:20] #573 closed

[2021-03-08 23:20] #577 closed

[2021-03-08 23:20] #236 closed

[2021-03-09 13:58] CedricGuillemet commented on #62
This issue seems outdated to me. Any objection for closing it? @bghgary @syntheticmagus

[2021-03-09 14:19] CedricGuillemet commented on #529
Fixed by https://github.com/BabylonJS/BabylonNative/pull/591 . Closing.

[2021-03-09 14:19] #529 closed

[2021-03-09 18:08] Drigax commented on #482
https://github.com/BabylonJS/BabylonNative/pull/582

[2021-03-09 18:30] bghgary commented on #62
I think many of these are fixed now, but there are still some left that are not. I think we can open separate issues for the remaining items. Thoughts?

[2021-03-09 22:15] bghgary commented on #118
No, it possibly has made it behave differently, but there are still issues.

[2021-03-09 22:16] bghgary commented on #529
I searched all over for this bug and couldn't find it, lol.

[2021-03-11 19:12] thomlucc commented on #625
Not needed separately

[2021-03-13 00:23] #568 closed

[2021-03-15 19:55] chrisfromwork opened #634 "NativeEngine contains thread-unsafe logic that causes crashes during fast refresh BabylonReactNative scenarios"
We have logic in NativeEngine that hands around an allocator that is not valid when NativeEngine is disposed:
https://github.com/BabylonJS/BabylonNative/blob/720b2dc2da8393aad4893a1661dd71bef1aa6fdc/Plugins/NativeEngine/Source/NativeEngine.cpp#L981

This logic does not observe cancellation requests and can generate crashes during fast refresh/NativeEngine teardown

[2021-03-15 19:58] chrisfromwork commented on #634
Chatted with @ryantrem offline. Seems like the following is going on:

"this seems related to the conversation we just had.... NativeEngine is owned by the JS side but tries to do work on a thread other than the JS thread, and so NativeEngine can be destructed while those async operations are executing. m_allocator, m_cancellationToken, and m_runtimeScheduler are all not safe to use in this way. E

[2021-03-16 16:33] chrisfromwork opened #635 "XR hand tracking should rely on xr session events for select/grasp events instead of declaring a gamepad property"
Right now a xr hand input source exposes a gamepad property that causes it to register as a motion controller. xr hand input should avoid exposing a gamepad property in favor of raising select/grasp events through the xr session.

[2021-03-16 16:44] chrisfromwork opened #637 "Rendering inconsistently draws to both eyes for HoloLens 2 in immersive xr mode"
It isn't a consistent repro, but we are seeing rendering behaviors where the left eye draws consistently but the right eye flashes on HoloLens 2 devices when running in BabylonReactNative. It is prone to happening when a debugger is attached.

[2021-03-16 16:50] bghgary opened #638 "Follow ups for refactor of frame buffer code and enable two-threaded rendering"
https://github.com/BabylonJS/BabylonNative/pull/591

- [x] File issue for TODO in NativeEngine::DeleteVertexArray
- [x] File issue for loading Draco scripts (Filed as #1214)
- [ ] <strike>File issue for macOS validation tests will sometimes hang</strike>
- [x] File issue for bgfx leak when shutting down without calling engine.dispose. Can be fixed in NativeEngine destructor with some refactoring.

[2021-03-16 17:29] bghgary commented on #637
I think the first thing to check is whether my [big PR](https://github.com/BabylonJS/BabylonNative/pull/591) caused this issue. If it does, then maybe it's related to the clear changes or the render target texture changes.

See [this](https://github.com/BabylonJS/Babylon.js/pull/9943) for the clear changes on the Babylon.js side
See [this](https://github.com/BabylonJS/BabylonNative/pull/591/files?

[2021-03-16 21:18] chrisfromwork opened #968 "Playground application crashes when device is not connected to wifi (HoloLens 2)"
Right now it seems like XMLHttpRequest::Send generates a crash if no wifi connection is available. It makes sense for this to be a failure state/some sort of request failure, but we should probably do something differently so that it doesn't crash the application.

[2021-03-17 16:06] rgerd opened #640 "Add AppRuntimeOptions"
We need a way to communicate to the app runtime so that we can conditionally enable things like the V8 inspector. The proposal would be to add a struct that is passed to the AppRuntime constructor and subsequently available in calls to `RunPlatformTier` and `RunEnvironmentTier`

[2021-03-17 22:06] #640 closed

[2021-03-18 14:47] Drigax commented on #65
Currently Babylon.js is not responsive to DPI changes, outside of DOM driven canvas resizing.
If we want to support this in Native, we should figure out what is proper behavior for the JS engine as well.

[2021-03-18 14:56] Drigax commented on #601
Since this is an issue that only affects a subset of devices on a single platform, its hard to justify disabling upscaling for all devices. Its also not too good of an idea to add preprocessor to disable this behavior on just Android.

Also, the graphics component has no logging capability currently, so there's currently no practical way to even tell the user that they're doing something wrong her

[2021-03-18 14:56] #601 closed

[2021-03-18 17:05] Drigax commented on #554
Cool, thanks for the info. Looking into this now, I have a test scene here: https://playground.babylonjs.com/#QPA82A that I'll be using to try to hit these paths in the transpiler.

[2021-03-25 12:47] davidebaltieri31 opened #647 "Android AR rendering broken on some devices"
Hi,
I've recently update my local copy with the latest version, something has broken rendering on some Android devices (most notably Samsung phones, I've tried the S8 and a S10 Plus) with AR enabled:
the camera is rendered but 3d objects aren't. Or rather sometimes they flicker in existence for milliseconds, like the android view on which the 3d part is rendered appear for a single frame and then

[2021-03-25 19:13] ryantrem commented on #647
@davidebaltieri31 can you capture and share a video showing the behavior?

[2021-03-25 21:27] davidebaltieri31 commented on #647
Video: https://youtu.be/EIrrqVLRPDs

[2021-03-25 23:20] ryantrem commented on #647
Thank you, we’re investigating!

[2021-03-26 08:56] davidebaltieri31 commented on #647
It happens both on Debug and Release. That video specifically is in Debug.
I've tested another device (Huawei P30) and I get the same problem there.

I'll try reverting back commit by commit this afternoon.

[2021-03-26 10:13] davidebaltieri31 commented on #647
Hi, after some testing it seems the problem start with commit 720b2dc2da8393aad4893a1661dd71bef1aa6fdc

[2021-03-26 16:51] chrisfromwork commented on #31
https://github.com/andrewrk/libsoundio

[2021-03-26 17:26] ryantrem opened #649 "Rendering is wonky when transitioning to XR on Android"
When transitioning to XR, the non-XR scene has some wonky rendering for a second or so. It looks to me like it is doing an `eglSwapBuffers` without having drawn anything new (so just switching back and forth between two already drawn frames). The consecutive frames need to be different to see this, so in Babylon Native Playground you can repro this by rotating the model with a pan gesture while it

[2021-03-26 17:50] #647 closed

[2021-03-26 17:55] ryantrem commented on #647
@davidebaltieri31 it would be great if you could verify this fixes the issue for you!

[2021-03-26 18:00] chrisfromwork commented on #31
https://github.com/cycfi/q

[2021-03-29 07:37] davidebaltieri31 commented on #647
Hi, I can confirm it works correcly now on all the devices I've tested.
Thanks.

[2021-03-29 20:42] #635 closed

[2021-03-30 16:49] davidebaltieri31 opened #651 "Couple of bugs with experience lifecycle on Android"
Hi,
I've come across a couple of bugs while developing my app with babylonNative (on Android only):

1) Calling exitXRAsync crashes in debug while it works as intended in release

2) There is no way to completely close the PlaygroundActivity without crashing. I've tried changing the way the Activity is destroyed in various ways but invariably it crashes while releasing Babylon::AppRuntime g_runtim

[2021-03-30 17:04] bghgary commented on #562
Fixed in #180

[2021-03-30 17:04] #562 closed

[2021-03-30 17:24] CedricGuillemet commented on #651
I have a small idea why it's happening, can you please try with this branch:

https://github.com/BabylonJS/BabylonNative/pull/645

Or, at least only the changes I did in `BabylonNativeJNI.cpp`

[2021-03-30 18:01] davidebaltieri31 commented on #651
Thanks!
I'll do more tests tomorrow, but it does seem to solve the problem with g_runtime deallocation.
Looks like just switching g_graphics.reset(); and g_runtime.reset(); was enough.

[2021-03-30 21:57] chrisfromwork opened #652 "secondary view configurations for HoloLens 2/OpenXR have a transparent black overlay drawn over video content when recording"
It seems like the secondary view configuration/clear color setup we currently have for xr causes some weird rendering behavior for mixed reality capture recorded videos on hololens 2

[2021-03-31 18:34] #482 closed

[2021-03-31 18:34] #620 closed

[2021-04-01 18:42] CedricGuillemet opened #654 "Broken build for Android on Ubuntu"
With ubuntu-latest (20.04) the Android build breaks with a crash in Gradle:
[code]
This log appears when ` --stacktrace --info --debug` options have been added to the gradle option.

Previous ubuntu 20.04 image (20210318.0 ) used to work . Newest is 20210330.1
Same with ubuntu-18.04

[2021-04-01 21:42] bghgary commented on #574
We believe this is fixed. @davidebaltieri31 Let use know if you continue to see the issue.

[2021-04-01 21:42] #574 closed

[2021-04-02 10:54] CedricGuillemet opened #657 "CreateGraphics from native context"
Until now, we can create a new `Graphics` from a platform window (HWND, UIView,...)
For some use cases (one OpenGL context that is bound to various Surface on Android for example) it lacks the ability to create a `Graphics` instance from a Platform context.

Some parts of the code like `UpdateDevicePixelRatio`

https://github.com/BabylonJS/BabylonNative/blob/8371b79805f2647dc7c43aa1f3e0a5552f23e2f

[2021-04-02 12:26] Schr3da opened #658 "Empty Project"
Hi,

I would have a quick question regarding project creation. Is there a simple way to just setup a new project?

Any Feedback would be appreciated.

Thank you

Happy Easter

Schr3da

[2021-04-02 14:55] davidebaltieri31 opened #659 "iOS Babylon::AppRuntime heap corruption on deallocation"
Hi all,

I'm in a similar situation I was in #651 but in iOS
I have a MenuController with a button that start a ViewController with BabylonNative (with AR enabled) and a back button. On click of the button I close the ViewController and try to free everything in similarly to what I did in Android. Then the app goes back to the MenuController and the user can start another experience relaunching th

[2021-04-02 16:10] ryantrem commented on #659
We should for sure fix this, but in the meantime, one thing you could try is to not actually destroy the `Graphics` object until your app is closed (e.g. re-use it across Babylon Native sessions). This is what Babylon React Native does, and we aren't hitting any corruption issues. We call `DisableRendering` to release most of the `Graphics` related resources, but we keep the actual `Graphics` obje

[2021-04-02 19:57] chrisfromwork opened #661 "enterXRAsync returns before entering immersive mode on hololens"
If we have this async function to state we have entered xr, it seems like the promise shouldn't be completed until we've actually entered xr.

We should see what https://github.com/BabylonJS/BabylonNative/issues/649 reveals before starting on this work

[2021-04-02 20:50] bghgary commented on #658
Our story here for pure Babylon Native is a bit weak right now. The playground app is the closest to an empty project, but it may not be what you are looking for. Adding good samples is something we need to do in the future.

If you are using React Native, there are prebuilt npm packages you can use to bring it into a React Native project.

[2021-04-03 05:11] ryantrem commented on #654
Fixed by #662

[2021-04-03 05:11] #654 closed

[2021-04-03 19:49] Schr3da commented on #658
Thanks for the quick reply - made it work in react native - just was thinking about an alternative way - I might start video blog based on a game Im currently developing so Im currently evaluating potential engine I want to use. I looked already in the popular one e.g. Unity, Unreal but I want to treat web as first class without all the overhead :D So babylon seems to be a good alternative.

[2021-04-03 20:09] Schr3da commented on #658
just added a quick tweet about how to set it up  :D https://twitter.com/schreda

[2021-04-03 20:09] #658 closed

[2021-04-05 17:41] chrisfromwork opened #663 "Expose nativeXrContext and nativeXrContextType for ARKit/ARCore xr flavors"
Some mixed reality services need access to the native xr session and xr frame (Azure Spatial Anchors, etc.). We should expose these resources in a similar manner to how we expose the OpenXR xr context today.

- [ ] ARCore support
- [ ] ARKit support

[2021-04-06 13:14] davidebaltieri31 commented on #659
Ok, so I did change the system this way.
before closing the ViewController I exit XRmode with xr.baseExperience.exitXRAsync() in JS, on success I dispose of the scene and stopRenderLoop. After that in the C++ side I call Graphics.DisableRendering and remove/destroy the ViewController (I've made a plugin to send commands from/to js).
I get a log from BGFX saying "BGFX Shutdown complete."

Then I re

[2021-04-06 15:54] ryantrem commented on #659
- Are you recreating `NativeXR` (not sure from `g_nativeXr` if you are recreating or trying to reuse)?
- Are you recreating the `xrView` (or trying to reuse)?
- Can you share more of your Babylon Native setup/teardown code?
- If you haven't already, also take a look at the integration in React Native for a working example of setup/teardown multiple times (though obviously we want it to be hard to

[2021-04-07 09:34] davidebaltieri31 commented on #659
I was reusing NativeXR and recreating xrView.
I've changed things a bit this morning: recreating NativeXR and xrView and changed a bit the order things are reenabled in libNativeBridge. It still crashes in debug, and in release if launched through Xcode (same point as before), but it doesn't crashes when started from the phone icon in release. Which is kind of an improvement xD.

This is my init/d

[2021-04-07 10:18] HedwigAR commented on #619
I came across this issue when trying to find out why image tracking didn't work in Babylon ReactNative. Image recognition is supported in both ARCore and ARKit so I assumed this implementation would work with those as well. Are there any plans to implement image recognition for native android and ios in BabylonNative and BabylonReactNative?

[2021-04-07 12:28] CedricGuillemet commented on #559
@bghgary Tested with latest master. VT scenes like `Point light shadows` #U2F7P9#4 still need at least 2 rendered frames.

[2021-04-07 12:53] CedricGuillemet opened #666 "[CI] Configure CMake version used"
By default, the latest version of CMake is used to build on the CI.
This can lead to unexpected issues : https://github.com/BabylonJS/BabylonNative/issues/654
We should provide in the `azure-pipelines.yml` file the CMake version that is guaranted to work with BabylonNative.
Also, once set up, update `readme.md` to reflect the chosen version.

[2021-04-07 12:56] CedricGuillemet opened #667 "BabylonNative plugin samples"
Making a new plugin is demanding more work now than before.
With topics ranging from Multiplaform implementation, napi class declaration, threading,...
Start a new BabylonNative-plugin-sample repo with enough samples to show case those topics.

- Should this be a tutorial instead ?
- Make sure the samples/tutorials build when updates on BabylonNative

[2021-04-07 13:15] ryantrem commented on #666
It looks like we can also declare a *max* CMake version: https://cmake.org/cmake/help/latest/command/cmake_minimum_required.html

[2021-04-07 16:51] ryantrem commented on #659
It looks like you are re-using the `Babylon::AppRuntime` instance? We don't do this in Babylon React Native, so I'm not sure if this is a tested scenario (it *should* work, I'm just not sure it's been tested). If you are trying to re-use the `Babylon::AppRuntime` instance, then you shouldn't re-create `Babylon::Plugins::NativeXr`, but you should call `g_nativeXr->UpdateWindow(nullptr)` when the XR

[2021-04-07 19:25] chrisfromwork commented on #663
Azure Spatial Anchors Android requirements:

* we need some mechanism for obtaining the arcore_c_api.h header used by the xr component in BabylonNative to build custom react-native arcore android native modules
* AzureSpatialAnchors cloud session needs access to the [ArCore session](https://github.com/Azure/azure-spatial-anchors-samples/blob/08e00c61d419e2e322be883f9adf3ee8bf0eb0ed/Android/NDK/app

[2021-04-07 19:37] chrisfromwork opened #668 "native anchors for XRAnchors should be exposed to developers"
We need access to the underlying native anchor to enable scenarios like Azure Spatial Anchors.

An immediate way to do this would involve exposing a nativeAnchor property through the XRAnchor. We could also choose to have this as a method defined in NativeXr that allows querying the native anchor provided the

[2021-04-07 20:03] chrisfromwork commented on #668
Initial discussions seem to suggest that it should be fine to add as a new helper function to the NativeXR xr object that exists for babylonnative builds but not web experiences.

[2021-04-07 20:18] bghgary commented on #619
We don't have any plans right now. Would this be useful if it only works for Android and iOS? It doesn't seem like there is support in OpenXR. Also, would you be capable/willing to contribute?

[2021-04-07 20:19] bghgary commented on #559
I'm assuming this is not true for a browser?

[2021-04-07 22:50] chrisfromwork commented on #663
Azure Spatial Anchors iOS requirements:

* AzureSpatialAnchors cloud session needs access to the [ARKit session](https://github.com/Azure/azure-spatial-anchors-samples/blob/08e00c61d419e2e322be883f9adf3ee8bf0eb0ed/iOS/Objective-C/SampleObjC/BaseViewController.m#L69) and [frame](https://github.com/Azure/azure-spatial-anchors-samples/blob/08e00c61d419e2e322be883f9adf3ee8bf0eb0ed/iOS/Objective-C/Samp

[2021-04-07 23:52] tymlipari opened #670 "BabylonNative playground crashes on Windows during launch"
The latest commit seems to have broken the playground app when running on Windows. On a PC that doesn't have XR support enabled, an exception is being thrown out of the XR module during initialization. Specifically, this line is failing in the `XrSupportedExtensions` class in the OpenXR implementation:

[code]

On my machine, since I don't have OpenXR setup this fails with the `XR_ERROR_INSTANCE_L

[2021-04-08 00:04] bghgary commented on #666
Mac machine building Android are failing now. We need to fix this ASAP.

https://dev.azure.com/babylonjs/ContinousIntegration/_build/results?buildId=12130&view=logs&jobId=d66521f2-2604-5247-d473-9047b94cc802&j=d66521f2-2604-5247-d473-9047b94cc802&t=65b047d1-a3de-5bb4-653c-7436a51bf6eb

[2021-04-08 00:37] bghgary commented on #666
This is what @ryantrem did for BabylonReactNative which uses GitHub actions. https://github.com/BabylonJS/BabylonReactNative/pull/193

We don't use GitHub actions, so I'm not sure if this will work for us.

[2021-04-08 00:38] chrisfromwork opened #672 "UWP xr session context should have its lifecycle managed by the xr system compared to a static object"
we should add additional checks to not create the underlying xr system if xr isn't supported

[2021-04-08 00:42] syntheticmagus commented on #672
We should try to get this to fall back into Babylon.js's default behaviors for browsers that don't support WebXR, since that should handle the situation gracefully from the JavaScript side in a way that will match the Web.

[2021-04-08 07:29] HedwigAR commented on #619
Ah, thanks for responding on that. I can't say I'm ready to contribute. I'm currently just exploring the Babylon libraries to see what the capabilities are. In previous project I've found image tracking to be a good starting point for experiences since people can't 'lose' it when it's attached to a physical marker. Or you can start the experience with some extra data based on which marker is scann

[2021-04-08 11:59] CedricGuillemet commented on #666
CMake version for Linux & Mac agents : https://github.com/BabylonJS/BabylonNative/pull/673

[2021-04-08 14:42] #670 closed

[2021-04-08 15:21] CedricGuillemet commented on #559
No because, I guess, drawcalls are performed in-order per frame as bgfx drawcalls are in-order per view target (thanks to SEQUENTIAL flag).

[2021-04-08 16:05] bghgary commented on #559
Ok, I don't understand the specifics. Maybe we can chat offline to explore options.

[2021-04-09 07:34] CedricGuillemet commented on #667
Related question found on forum : https://forum.babylonjs.com/t/wrapping-a-property-for-making-a-bjs-native-plugin/19824

[2021-04-09 16:58] CedricGuillemet commented on #657
PR https://github.com/BabylonJS/BabylonNative/pull/674

[2021-04-09 22:57] chrisfromwork opened #678 "Setup a UWP validation test and run through napi-jsi validation scenarios"
We should setup uwp tests to run through initialization and basic xr scenarios. At the same time we could benefit from having test coverage of napi jsi

[2021-04-11 09:11] arpu opened #679 "Build Fail on Fedora Linux SPIRV-Cross comparison of unsigned expression in '< 0' is always false"
Hey,

testing build on fedora, i get this build error

[code]
https://gist.github.com/arpu/77665918c690932e858eeccfaf7daa40

[2021-04-11 09:12] arpu commented on #679
gcc version:

[code]

[2021-04-11 15:10] arpu commented on #679
removing -Werror from CMakeLists.txt  of SPIRV-Cross builds now with warings

i had to install this devel packages too

sudo dnf install curl-devel  webkit2gtk3-jsc-devel

[2021-04-12 09:48] CedricGuillemet commented on #679
Hi @arpu

I can repro the build error with gcc10. Spirv-cross hasn't been updated for a while and latest version doesn't have that error. I'm testing with that latest version and will keep you posted.

Why did you have to install those devel package?

[2021-04-12 10:32] arpu commented on #679
the webkit2gtk3-jsc-devel  is the rpm based version from libjavascriptcoregtk-4.0-dev ( deb)

[2021-04-12 15:55] davidebaltieri31 opened #681 "Small bug on iOS regarding screen resolutions"
I've come across a small bug on iOS that presents itself when using AR on an iPhone 7 Plus (but should happen also on iPhones 6 Plus, 6s Plus and 8 Plus).
In those phones the native resolution and UIKit sizes (multiplied by the UIKit scale factor) differs.
I noticed it because
1) I wasn't able to correctly match touch position on screen with the rendered scene in AR
2) The ground plane pointer I w

[2021-04-12 17:28] Drigax opened #683 "CMake 3.19 has been delisted from homebrew; Mac CI broken"
It appears that homebrew has delisted 3.19, right in time to break our builds that depend on this version.

http://homebrew.bintray.com/bottles/cmake-3.19.6.mojave.bottle.tar.gz
now returns 403 - Forbidden when accessed.

[2021-04-12 23:54] bghgary commented on #681
@CedricGuillemet or @Drigax any ideas?

[2021-04-13 15:53] Drigax commented on #681
Interesting, @davidebaltieri31 do you have a minimum experience.js you can share to reproduce how you're creating your pointer?

I'm assuming that you're not using https://doc.babylonjs.com/typedoc/interfaces/babylon.nativeengineoptions#adapttodeviceratio,. right?

[2021-04-13 17:09] #668 closed

[2021-04-13 23:49] chrisfromwork opened #685 "Validation test app should initialize xr/native xr babylonnative components"
It seems like right now the validation test app doesn't initialize all of the components normally used by the playground. we should update these tests to at least initialize nativexr based on recent regressions that could have been detected through automation: https://github.com/BabylonJS/BabylonNative/issues/670

[2021-04-14 03:28] rgerd opened #686 "Test ChromeDevTools Android Support"
Once #607 is merged, we can test whether it works on Android V8. This should be fairly straightforward (just run it and see what happens). There's nothing that inherently excludes the possibility of Android as long as the TCP/HTTP/WebSocket server doesn't conflict with any weird firewall policies.

One thing to note is the v8inspector dependency depends on a submodule `llhttp` that requires node t

[2021-04-14 12:53] mmehmetAliIzci commented on #619
Hi @bghgary could you give some pointers to look in order to add this capability to the platform ?

[2021-04-14 18:36] bghgary commented on #575
Sorry, this somehow slipped through the cracks. We will look at it ASAP.

[2021-04-14 18:56] bghgary commented on #443
Seems like it no longer repros.

[2021-04-14 18:56] #443 closed

[2021-04-14 18:58] bghgary commented on #511
Closing for now. We haven't seen this error recently. If it happens again, let's reopen.

[2021-04-14 18:58] #511 closed

[2021-04-14 20:33] #463 closed

[2021-04-14 20:38] rgerd opened #687 "Need documentation for using chromium inspector"
Now that we have (#607), we have script debugging with Chrome DevTools!

We need documentation outlining how to open the inspector to use it for profiling / setting breakpoints / etc.

[2021-04-14 20:41] rgerd opened #688 "Add .d.ts and .map.js files for javascript files"
We currently have a sourcemap and declaration file checked in for babylon.max.js, but we should also check in matching files for:
* babylon.gltf2FileLoader.js
* babylon.gui.js
* babylonjs.materials.js

[2021-04-14 20:42] rgerd opened #689 "Allow native access to ChromeDevTools plugin API"
(#607) introduced Chromium DevTools support as a javascript API, but it feels like it would make more sense as a native API.

[2021-04-14 21:24] Alex-MSFT commented on #619
Hi @mmehmetAliIzci - To add image tracking to the platform there are a three main things that would need to be implemented

1. The NAPI implementation of the WebXR interface as described by the proposed webXR spec [here](https://github.com/immersive-web/marker-tracking/blob/main/explainer.md), and implemented in Babylon.js BabylonJS/Babylon.js#9512 this work will primarily be in the "NativeXR" fil

[2021-04-14 22:20] #554 closed

[2021-04-15 09:45] CedricGuillemet commented on #683
Fixed by https://github.com/BabylonJS/BabylonNative/pull/680 Closing.

[2021-04-15 09:45] #683 closed

[2021-04-15 09:46] CedricGuillemet commented on #600
@davidebaltieri31 Did you finally find a solution for this issue?

[2021-04-15 09:49] CedricGuillemet commented on #575
This issue is related to GUI/Canvas and dynamic texture. It will be fixed once the work on Canvas polyfill is done. Closing.

[2021-04-15 09:49] #575 closed

[2021-04-15 11:14] gedw99 opened #691 "Flutter support ?"
Would be awesome .

you basically have it close to supported already from what I can see in the App folder.
just a matter of exposing it via a flutter.

Flutter can load native on mobile and desktop easily and push FBO to the Flutter Tectute widget. Same widget that is used to play video.

Flutter gestures then send events back to native layer.

[2021-04-15 13:08] CedricGuillemet commented on #666
@ryantrem Android build with CMake policy max version set to 3.19.8 and installed CMake 3.20.1 leads to the same null pointer exception. No error/warning on the currently used version.

[2021-04-15 17:37] Drigax opened #694 "Change repo projects to consume NPM packages"
Currently the development workflow requires developers to manually update the babylon.max.js whenever we need to update the engine. Some automation that updates the repo babylon.max.js whenever a new preview package is published would:

1) Remove the need of contributors to update this dependency manually
2) Make sure we're testing BabylonNative against the latest published Babylon.js release
3) M

[2021-04-16 08:38] CedricGuillemet opened #695 "[Linux CI] Validation tests without UI"
There is a growing number of users asking for headless rendering on server on Linux. With this PR : https://github.com/BabylonJS/BabylonNative/pull/674
It becomes possible to create the engine without a window. A good test is to modify the Linux Validation tests to run with or without a window.
The unkown to clarify is how the backbuffer behaves, do we have to create a render target, how is the re

[2021-04-16 19:49] #598 closed

[2021-04-19 08:43] CedricGuillemet commented on #678
@chrisfromwork When building and running UWP Playground, I get this error :
`Uncaught Error: 'chromeDevTools' is not defined`
Any idea on how to fix this issue?

[2021-04-19 15:05] #685 closed

[2021-04-19 17:39] Drigax commented on #681
Hey @davidebaltieri31, can you share a sample scene that I can take a look at? I'm not sure how you're initializing your scene.

[2021-04-19 20:28] bghgary commented on #691
I don't think anyone here knows flutter. We do try to make the code flexible enough to support any UI framework. Contributions would be welcome!

[2021-04-19 22:22] bghgary commented on #678
This is because we added `chromeDevTools` to the playground. We should check if `chromeDevTools` exists first before using it.

Personally, I don't think this should be a JS contract. See https://github.com/BabylonJS/BabylonNative/issues/689.

[2021-04-20 00:13] chrisfromwork commented on #678
@bghgary is there a suggested fix for the playground? are we missing a line in experience.js? @CedricGuillemet are you unblocked?

[2021-04-20 00:27] bghgary commented on #678
The fix is simple. Change this:

https://github.com/BabylonJS/BabylonNative/blob/master/Apps/Playground/Scripts/experience.js#L56-L58

To something like this:

[code]

[2021-04-20 15:50] Drigax commented on #31
We may also want to consider:
https://www.videolan.org/vlc/libvlc.html

[2021-04-20 16:18] rickfromwork opened #700 "Send hand select/squeeze information in a gamepad object to match webXR"
webXR switched to providing hand select/squeeze in a gamepad object, so we need to update the Native code to match this.

Related issue in Babylon.JS: https://github.com/BabylonJS/Babylon.js/issues/10144

[2021-04-20 16:20] CedricGuillemet commented on #31
@Drigax Looks interesting for video playback support as well. I'm curious about the footprint on mobile.

[2021-04-20 17:27] bghgary commented on #695
xvfb can work for now. Will see if this is necessary in the future.

[2021-04-20 21:35] rgerd opened #702 "Add validation testing for experience.js"
We should have some type of validation testing in the CI to make sure changes don't break experience.js and people can run a fresh clone without any issues.

[2021-04-21 10:12] davidebaltieri31 commented on #681
Sorry for the late answer,
I don't do anything much different from the demo application. Enabling ar and xrHitTest in the demo experience.js in this repo should reproduce what I see. I just use a textured plane instead of the basic box.

Initialization on iOS side (ViewController and LibNativeBridge) is similar to what is done in the demo app. I do have some changes there to solve other bugs I've

[2021-04-21 15:33] #688 closed

[2021-04-21 18:10] #700 closed

[2021-04-21 19:50] ryantrem commented on #681
@davidebaltieri31 in that bit of code you pasted above, but including the previous line, it is like this today:
[code]

Can you try just changing it to:
[code]

[2021-04-21 21:36] #689 closed

[2021-04-22 18:14] #666 closed

[2021-04-22 21:22] Drigax commented on #694
Following up on discussion with @bghgary @chrisfromwork @rgerd

It seems our plan of action is:
- [ ] Modify BabylonNative projects (Playground, ValidationTests) to consume babylon.js npm package
- [ ] Add cmake build step to install node dependencies
- [ ] Add watcher to regenerate babylon.js bundle on local change of package contents.

[2021-04-22 23:07] ryantrem commented on #694
Adding a CMake build step to install node dependencies seems weird to me, because installing node dependencies is something you need to do less frequently than running CMake. To me it seems like something that belongs outside of CMake, either as a higher level script, or as a manual step (as it is today).

[2021-04-22 23:58] chrisfromwork opened #703 "OpenXR xr.cpp should report BabylonNative as the engine so that runtime owners see better telemetry"
OpenXR initialization supports specifying an engine to help OpenXR runtime providers better aggregate telemetry. We should specify BabylonNative as the engine during OpenXR setup here:

https://github.com/BabylonJS/BabylonNative/blob/626b61e4ce1f2118d6009b8f045702f0cf683fe2/Dependencies/xr/Source/OpenXR/XR.cpp#L218

https://www.khronos.org/registry/OpenXR/specs/1.0/html/xrspec.html#XrApplicationIn

[2021-04-23 01:03] rgerd opened #704 "OpenXR should use DXGI_FORMAT_D16_UNORM for depth buffer on HoloLens"
According to [this guide](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/native/openxr-best-practices#choose-a-reasonable-depth-range) on OpenXR best practices, we should use a 16 bit, no stencil depth buffer for rendering on HoloLens to achieve maximum performance.

![00250a38-5158-48a1-af53-c70a2a9c4b97](https://user-images.githubusercontent.com/4724014/115803180-3a63b680-a395-11

[2021-04-23 01:04] rgerd commented on #617
Closing in favor of #704

[2021-04-23 01:04] #617 closed

[2021-04-23 01:10] rgerd opened #705 "Use texture arrays in OpenXR"
In order to maximize performance on HoloLens, we need to use texture arrays in our color and depth swapchains as opposed to using one swapchain per eye. This will allow us to avoid an expensive texture copy step that happens inside of the Windows Mixed Reality OpenXR Runtime when the textures are composited.

<img width="1144" alt="openxr-errors" src="https://user-images.githubusercontent.com/4724

[2021-04-23 15:41] CedricGuillemet commented on #679
PR : https://github.com/BabylonJS/BabylonNative/pull/706

[2021-04-23 16:15] CedricGuillemet opened #707 "Android Build Times"
Android builds take too much time on the CI. Timeout is set to 45minutes and we still experience build canceled.
Some ideas to check for smaller build times:

- [x] Only build arm64
- [x] Create an Android JNI Project that would be built once for Playground and Validation Tests (might help integration)
- [ ] <strike>Smarter bgfx.cmake : do not try to build all renderers (and associated 3rd party).

[2021-04-23 16:24] chrisfromwork opened #709 "BabylonNative should add initialization logic to correctly propagate the application name to the openxr runtime"
Right now we declare an application name of "Open XR Sample" for all xr components:
https://github.com/BabylonJS/BabylonNative/blob/e6ab99276c4bfcb632cedd9ef1905c3448fc8699/Dependencies/xr/Include/XR.h#L350

it feels like this value should be updated to use the actual application name or at least fixed for non openxr platforms.

Note, if we do update the application name, we should also make our a

[2021-04-23 17:30] bghgary commented on #369
Please include @chrisfromwork when implementing this.

[2021-04-23 17:34] CedricGuillemet commented on #707
PR for first item : https://github.com/BabylonJS/BabylonNative/pull/710

[2021-04-23 18:05] #679 closed

[2021-04-23 19:36] #703 closed

[2021-04-23 20:51] #599 closed

[2021-04-23 23:17] chrisfromwork opened #712 "OpenXR scene understanding support should have some performance/behavior improvements"
When the final extension is released, we should look into the following behaviors:

1. xrLocateSpace should be called every frame to help with mesh stability
2. vertex transforms should be conducted by a parent transform compared to inline in the current su xr implementation

[2021-04-24 08:53] Schr3da opened #713 "Minimum Build Size"
Hi,

Im currently looking into Babylon Native and would like to use it for and upcoming project.
As I used it in past already for web stuff - I would this time look into the native part :D

Do you know what would be the minimum possible app size on iOS/Android for an empty project?

kind regards,
Schr3da

[2021-04-26 12:10] CedricGuillemet commented on #508
Fixed with https://github.com/BabylonJS/BabylonNative/pull/706

[2021-04-26 12:10] #508 closed

[2021-04-26 17:59] chrisfromwork opened #715 "BabylonNative should have dispatch actions to BabylonReactNative when master is updated"
Let's use this issue to track improving BabylonReactNative ci

[2021-04-26 18:22] chrisfromwork opened #717 "UWP/OpenXR should support xr hit testing"
Right now we support hit testing for android/ios. We should also support it for UWP/OpenXR

[2021-04-26 20:38] bghgary commented on #713
The binary for iOS/Android is around 5MB right now where much of it is the shader compiler dependencies: gslang and SPIRV-Cross.

For Android, there are things we can do to reduce this size for Android if we remove the dependency on SPIRV-Cross. Since we are targeting Android OpenGL and eventually Vulkan, SPIRV-Cross shouldn't be necessary. Also, if you don't already have a JavaScript VM/engine, y

[2021-04-27 01:37] syntheticmagus commented on #649
A few different things going on here, including some open discussions about when certain events should take place (such as for #661). In brief, `createDefaultXrExperienceAsync` in some cases returns surprisingly early, such as on Android when it returns before the XR view is actually displayed. This results in a few frames when the app believes it is rendering to an XR window, but the XR window is

[2021-04-27 05:50] #687 closed

[2021-04-27 18:02] #715 closed

[2021-04-27 22:01] Drigax commented on #31
Project   Name | Link To Project | Does it implement | What does it do? | Oses Supported: | License | Notes
-- | -- | -- | -- | -- | -- | --
  |   | Audio Backend | DSP | Modular effect chaining |   | Windows/Win32 | Windows/UWP | Android | MacOS | iOS | Linux |   |  
c | https://source.chromium.org/chromium/chromium/src | ✅ | ✅ | ✅ | Full browser implementation.   Includes implementations for Web

[2021-04-27 22:03] Drigax commented on #31
I've spent the past few days researching various popular audio solutions, and have tabulated some of their qualities  into an easy to digest chart. This should allow us to compare solutions/a set of solutions to see what direction we want to go with regarding incorporating existing audio projects.

[2021-04-28 22:32] chrisfromwork opened #722 "xr initialization should have limited/no retry logic when things fail"
Right now we have a while loop that may not terminate if xr isn't supported: https://github.com/BabylonJS/BabylonNative/blob/9787408792d1488b8639a3d4f8cb4deeb40aa73d/Plugins/NativeXr/Source/NativeXr.cpp#L484

To repro the infinite loop, run a babylonnative experience on a pc with no vr headset and attempt to enter xr. The application will stop rendering and we will never exit this while loop.

To

[2021-04-28 23:13] chrisfromwork opened #723 "BabylonNative windows playgrounds should be WACK compliant"
We have been looking at wack compliance for babylonnative and babylonreactnative, it seems like two things are currently blocking babylonnative wack compliance:

1. We have some restricted capabilities declared that don't seem needed: https://github.com/BabylonJS/BabylonNative/blob/9787408792d1488b8639a3d4f8cb4deeb40aa73d/Apps/Playground/UWP/Package.appxmanifest#L37
2. We have not updated the defa

[2021-04-29 18:12] bghgary commented on #657
PR is merged and fixed in Babylon React Native.

[2021-04-29 18:12] #657 closed

[2021-04-29 18:28] bghgary commented on #713
If you have more questions on this, please use the [forum](https://forum.babylonjs.com/). Thanks!

[2021-04-29 18:28] #713 closed

[2021-04-29 18:30] Drigax commented on #31
Currently we are still investigating the feasibility of incorporating Chromium build artifacts that contain WebAudio, and the Chrome media system libraries and dependencies. Ashu Tatake has taken the first steps in this approach.

@ryantrem had a very interesting concern regarding this first option, Apple has been known to inspect and remove apps that contain Chromium source. We should look into w

[2021-04-30 00:16] ryantrem opened #726 "Babylon Native uses a lot more memory than Babylon.js when loading glbs"
For this 16mb model: https://raw.githubusercontent.com/microsoft/experimental-pcf-control-assets/master/bird_of_paradise_blue.glb

Loading and rendering it with Babylon.js (within a WKWebView (WebKit)) uses about 180mb of main memory.
Loading and rendering it within Babylon Native (within an iOS React Native app) uses about 500mb of main memory.

This seems like a substantial difference and can cr

[2021-04-30 13:50] CedricGuillemet commented on #726
The memory footprint numbers (180Mb and 500Mb) are delta between app running before and after loading the glb or is it the total memory footprint of the app after loading glb?
I'd like to know how much memory React layer is using compared to a webview.

[2021-04-30 17:03] ryantrem commented on #726
They are both deltas. In the WebView case, the ReactJS app was already running, and then it loads BJS + the model. In the Babylon Native case, the React Native app was already running, and then it loads BRN + the model. So in both cases I was just looking at the delta in overall main memory usage.

[2021-05-03 10:10] CedricGuillemet commented on #616
- [ ] Canvas abstraction. (@CedricGuillemet )
To make it clear that we use a subset of Canvas/Context in the engine, all the calls on these objects are done through an interface (ICanvas.ts). https://github.com/BabylonJS/Babylon.js/pull/10043 A build of this branch is pushed in this BabylonNative PR.
- [ ] Missing functions in NativeEngine.ts
https://github.com/CedricGuillemet/Babylon.js/blob/d4cd

[2021-05-04 19:09] Alex-MSFT opened #729 "Support Signed Byte and Unsigned Short Vertex Buffer Formats"
In BGFX:
- [x] Add the Int8 and Uint16 to the AttribType enum in bgfx.h
- [x] Add capabilities for BGFX_CAPS_VERTEX_ATTRIB_INT8 and BGFX_CAPS_VERTEX_ATTRIB_UINT16
- [x] Add the fulfilling format in the respective renderer_d3d11, d3d12, gl, mtl, and noop

In Babylon.js:
- [x] Add ATTRIB_TYPE_INT8 and ATTRIB_TYPE_UINT16 as readonly values in NativeEngine.
- [x] Fix up the switch case to route them c

[2021-05-04 20:40] syntheticmagus commented on #726
For whatever reason, VS memory profiling tools aren't working on the Babylon Native Playground app (snapshots spin forever and never become inspectable), but by futzing with refresh it looks like, on Windows at least, the overwhelming majority of the memory consumption is in bgfx.

All of the following results were gathered by changing the Playground behavior on press of the `R` key from `RefreshB

[2021-05-04 20:48] bghgary commented on #723
This is because the playground can load arbitrary JS files that can load arbitrary assets on disk.

Since this is intended to be a sample test app, I don't think we need to do this. If some day this app becomes a bit more than this, then we should update the assets.

[2021-05-04 20:48] #723 closed

[2021-05-04 20:51] tymlipari commented on #723
As an FYI, `broadFileSystemAccess` doesn't work on HoloLens SKUs, but so far it seems to not block the installation of a package with that capability and there aren't practical ways to use the kind of scenario referred to so I think this is okay.

[2021-05-05 10:49] Papakkkarlo opened #730 "Version requirements"
After installation of required packages there was the following error:
`@babylonjs/react-native@0.4.0-alpha.15 requires @babylonjs/core@^5.0.0-alpha.13 but version 4.2.0 is currently installed.`
After i've installed new versions of both `@babylonjs/core` and `@babylonjs/loaders` the exact same error is keep showing up.
Here is this modules in my `package.json`:
[code]
Is there any way to solve thi

[2021-05-05 16:51] ryantrem commented on #730
From your app directory, double check the version in `node_modules/@babylonjs/core/package.json`. If it is `4.2.0`, then something went wrong with your npm install. If it lists the correct version, then most likely your npm cache is in a bad state. If this is the case, try running `npm start -- --reset-cache` (the extra `--` is intentional), then try building/deploying your app again.

[2021-05-05 18:21] HedwigAR opened #731 "Autofocus of camera in AR"
I started this question on the Babylon Forum (https://forum.babylonjs.com/t/babylonreactnative-how-to-get-ar-camera-to-focus/20588)

**Is your feature request related to a problem? Please describe.**
Currently, on Android autofocus is automatically disabled (https://developers.google.com/ar/reference/java/com/google/ar/core/Config.FocusMode). This makes it so that looking at small objects close-by

[2021-05-06 08:02] HedwigAR commented on #731
C++ isn't something I have experience with. But I did find what the config in ARCore should look like, to give an idea.
[code]

Inserted at line 450 of Dependencies/xr/Source.ARCore.XR.cpp in the Initialize() function makes it autofocus. The config should then probably be destroyed when the session is.

[2021-05-06 17:04] rgerd opened #732 "Support GLSL functions that take a sampler2D as a parameter"
**Describe the bug**

[There's an assertion in GLslang that guards against trying to get an lvalue on an rvalue](https://github.com/KhronosGroup/glslang/blob/9f76fd13306334ae0d8a000ad62b5538cfb45641/SPIRV/SpvBuilder.cpp#L2913), and it occurs when we try to compile a shader containing a call to a function with a sampler2D parameter to SPIR-V:
https://github.com/BabylonJS/BabylonNative/blob/432f0db8

[2021-05-06 17:21] rgerd opened #733 "Shader compilation exceptions not holding messages"
**Describe the bug**
The following exceptions (for example):
https://github.com/BabylonJS/BabylonNative/blob/432f0db8e0b0ddd98fb9c7744572f87c9c16528b/Plugins/NativeEngine/Source/ShaderCompilerD3D.cpp#L23-L26
https://github.com/BabylonJS/BabylonNative/blob/432f0db8e0b0ddd98fb9c7744572f87c9c16528b/Plugins/NativeEngine/Source/ShaderCompilerD3D.cpp#L93-L96

Don't hold their error messages (the "what"

[2021-05-06 17:22] #722 closed

[2021-05-06 17:57] rgerd opened #734 "Conditional traversal crashes for ShaderCompilerD3D"
**Describe the bug**
I have a conditional in a vertex shader:
[code]
All variables involved are uniforms. Shader compilation crashes here:
https://github.com/BabylonJS/BabylonNative/blob/7fc7e3d41753e1efd408dd0ac9adb7272524d722/Plugins/NativeEngine/Source/ShaderCompilerD3D.cpp#L101

**To Reproduce**
The following shader reproduces the crash:
https://playground.babylonjs.com/#QPA82A#11

Seems like

[2021-05-07 07:51] CraigFeldspar opened #736 "Undefined pose in WebXR polyfill on initialization of the XR experience"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
WebXR polyfill in Babylon native can give undefined values on initialization for the camera pose.

A hack has been made on the main BJS repo : https://github.com/BabylonJS/Babylon.js/blob/02eba45a6b3eec0b0eaa56f0b29fde45e7c2e739/src/XR/webXRCamera.ts#L176

**To Reproduce**
Steps to reproduce the behavior:

[2021-05-07 22:46] chrisfromwork opened #737 "BabylonNative should support keyboard input"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Is your feature request related to a problem? Please describe.**
Samples (UWP and Win32 Playground etc) don't route key presses to the engine/js logic

**Describe the solution you'd like**
Samples should support some form of keyboard input

**Describe alternatives you've considered**
If I understand correctly, there are no

[2021-05-07 22:57] ryantrem commented on #737
If anyone gets to this, please don't spend time adding keyboard support to the Playground's "sample" code for dealing with input. Rather, we should add keyboard support to `NativeInput` and finish the PR to switch the Playground apps over to using `NativeInput` instead of sample code for handling input. https://github.com/BabylonJS/BabylonNative/pull/610

[2021-05-07 23:10] bghgary commented on #737
Overall, this kind of work is tracked by #173 which has been so far mostly on the Babylon.js side of things.

[2021-05-08 18:59] ThomasNigro commented on #619
Hello,

speaking on behalf of the Minsar team, we will need the Image Tracking capability and are willing to contribute if needed. I believe the proper approach would be to leverage ARCore and ARKit here... We will do some investigations in the coming weeks to evaluate the amount of work that's needed.

[2021-05-10 21:42] Alex-MSFT opened #738 "GLBs packed via GLTFPack do not display correctly on Windows"
After packing a GLB with [GLTFPack](https://github.com/Alex-MSFT/meshoptimizer) with default settings the GLB does not display correctly in Windows, but does on Android, and Mac OSX, I have tested this with several GLBs and all display the same behavior.  The file appears to load successfully, and you can see vertex buffers being allocated and loaded, but no content is display in the playground.

[2021-05-11 16:52] syntheticmagus opened #740 "XR's `CreateAsync` on Android returns before XR window is visible"
**Describe the bug**
Creating an XR session in Babylon Native involves calling XR's `CreateAsync` method, which is supposed to return when it's time to start rendering to XR. At the moment, however, this method returns before the XR window is visible (in fact, I believe the sequence of events is such that `CreateAsync` returning *causes* the XR window to appear). This leads to visible artifacts as

[2021-05-11 16:53] #649 closed

[2021-05-11 17:10] bghgary commented on #737
@tymlipari Can you check on this?

[2021-05-11 17:38] PolygonalSun opened #742 "Refactor DeviceInputSytem and Integrate Fully into BabylonNative"
This issue describes all of the pending work for DeviceInputSystem/DeviceSourceManager in order to get it to be cleaner and play properly with the Native side.

#### Required ####
- [ ] ~Create Automated Input Tests for validating future updates~
    - [ ] ~Create Test Harness to work with Karma~
    - [ ] ~Create Test Plan~
- [ ] ~Streamline DeviceSourceManager to act as only go-between for Devic

[2021-05-12 08:17] HedwigAR commented on #241
Hi! I'm currently getting almost the same error:
`_MTLValidateResolveTexture:281: failed assertion 'MTLRenderPassDescriptor texture and resolveTexture size mismatch.'`
in line 168 in
`BabylonNative/Dependencies/bgfx/bgfx/Header Files/renderer_mtl.h`

Only on device (iPhone X) though, this problem doesn't occur in the simulator (iPhone 12).
The app does work on device if I don't have it connected t

[2021-05-12 08:22] CedricGuillemet commented on #241
@HedwigAR Can you list the repro steps ? Also, as a work around, you can disable Metal Validation from the Scheme edit in Xcode until we find a fix.

[2021-05-12 08:31] HedwigAR commented on #241
Currently, it's when I try to run it, so before I even see the purple background of the playground app. But again, the app does work without Xcode connected.
I was trying out some of the changes that were in the pull request, which might have been removed somewhere. But still getting the error.
I am adding a react native library with swift to the react native playground app. For this I had to make

[2021-05-12 08:34] CedricGuillemet commented on #241
Do you get the crash with BabylonNative Playground or BabylonReactNative Playground ?

[2021-05-12 08:35] HedwigAR commented on #241
Ah I guess it's the ReactNative Playground, sorry am I in the wrong repo for this issue?

![Screenshot 2021-05-12 at 10 35 06](https://user-images.githubusercontent.com/4737792/117944600-b8b8d600-b30d-11eb-918e-f6d0aba53e33.png)

[2021-05-12 08:44] CedricGuillemet commented on #241
Bugs specific to BabylonReactNative should be on this repo : https://github.com/BabylonJS/BabylonReactNative
But I don't know yet if it's specific to BabylonNative or BabylonReactNative.
Can you please clone and build BabylonNative Playground and tell me if you get the same crash ?

[2021-05-12 09:28] HedwigAR commented on #241
I do not get the crash on BabylonNative Playground. I will just clone the ReactNative one again and see if my issue is still happening with a fresh install and if it is, make an issue there. Thanks for the help and the workaround!

[2021-05-12 12:15] CedricGuillemet commented on #738
I could repro the issue with bgfx. I've open an issue : https://github.com/bkaradzic/bgfx/issues/2514

[2021-05-13 18:18] bghgary commented on #600
Closing due to inactivity. @davidebaltieri31 If you can try some of the suggestions above, feel free to reactivate.

[2021-05-13 18:18] #600 closed

[2021-05-14 16:16] chrisfromwork commented on #616
@CedricGuillemet has this work thus far been primarily targetted at 3d gui controls? I setup a local test environment to setup 2d controls and am seeing native exceptions when calling AdvancedDynamicTexture.CreateFullscreenUI. Is this a known/documented issue?

[2021-05-14 17:04] Drigax commented on #31
I've written a blog post here, outlining the plan moving forward for this feature:
https://babylonjs.medium.com/audio-in-babylon-native-charting-the-way-c6bc6d5c0d74

[2021-05-14 19:52] bghgary commented on #369
Similar work item on the Babylon.js side: https://github.com/BabylonJS/Babylon.js/issues/8904

[2021-05-14 20:31] bghgary commented on #369
@RaananW Do you have an idea of when the Babylon.js side will be implemented?

[2021-05-15 10:47] waverider404 opened #747 "cmake doesn't generate build solution on windows 10"
Cmake doesn't generate build solution after installing the new master branch on windows 10

![powershell_XV5op7YRbv](https://user-images.githubusercontent.com/34609417/118357678-64019f00-b549-11eb-8e9f-cffce4a8943d.png)

[2021-05-15 10:48] waverider404 commented on #747
[CMakeOutput.log](https://github.com/BabylonJS/BabylonNative/files/6486023/CMakeOutput.log)
[CMakeError.log](https://github.com/BabylonJS/BabylonNative/files/6486024/CMakeError.log)

[2021-05-17 19:57] chrisfromwork commented on #616
@CedricGuillemet should this work be used to track the fact that layers don't work in babylonnative? or should that be tracked with a separate issue?

[2021-05-17 22:26] Drigax commented on #31
Update 2021-05-17

The project and samples were successfully built on Windows, it may be worth taking the next step and getting the project to build  as a part of BabylonNative's build.

I'll have to look into how to isolate building the engine+dependencies as a consumable lib without building the additional samples

[2021-05-18 17:07] bghgary commented on #729
All done!

[2021-05-18 17:07] #729 closed

[2021-05-18 20:03] PolygonalSun opened #749 "Get InputManager to Work with BabylonNative"
These are the steps needed to get the InputManager to work with BabylonNative
- [ ] Remove or conditionally address any DOM specific events or actions throughout the InputManager pipeline
    - [ ] InputManager
    - [ ] Cameras
    - [ ] UI Elements
    - [ ] Tools
- [ ] Change any used implementation of InputManager from Native one to JS/Original one

[2021-05-18 20:18] PolygonalSun commented on #173
Closed as this will now be tracked by https://github.com/BabylonJS/BabylonNative/issues/742

[2021-05-18 20:18] #173 closed

[2021-05-18 20:26] PolygonalSun commented on #749
Closing as tracked by https://github.com/BabylonJS/BabylonNative/issues/742

[2021-05-18 20:26] #749 closed

[2021-05-18 22:31] #736 closed

[2021-05-18 22:35] rgerd commented on #747
@waverider404 I have a fix out that I believe will resolve your issue. Just to be sure, since I couldn't get a local repro, could you also tell me:
1. The specific CMake command you ran to get this result
2. The output of `cmake -version`

[2021-05-18 23:59] rgerd commented on #747
Reopening until we determine the issue has actually been resolved and we can figure out why the error was thrown in @waverider404's configuration

[2021-05-19 01:13] waverider404 commented on #747
It is working fine now, i used c

It is working fine now
I used cmake -A Win32 ..
and I am running cmake version 3.18.3

[2021-05-19 16:03] rgerd commented on #747
@waverider404
Great! I was able to get a repro, looks like it was the older CMake version (on top of the erroneous line). Good to know.
And thanks for the android build tip, we'll look into it.

If you feel like downgrading your CMake version, reproducing the Android build bug, and filing a similar issue, it would be very helpful for us.

Thanks!

[2021-05-19 16:03] #747 closed

[2021-05-19 17:47] rickfromwork opened #751 "NativeXR's XRRay class causes crashes if appropriate options aren't provided"
XRRay, if not provided with an origin and direction on creation, will trigger a crash during the call to GetNativeRay due to the origin and direction not being properly populated. An example of this happens in BabylonJS's WebXRHitTest class, if the offsetRay or transientOffsetRay is not provided in the options:
[code]

[2021-05-19 20:12] bghgary commented on #686
That sounds like a different issue. This issue for ChromeDevTools.

[2021-05-20 10:26] EricBeetsOfficial-Opuscope opened #753 "iOS MtkView resize"
Hi there,

On iOS, I tried to resize (enter/exit fullscreen) the MTKView based on enable/disable constraints of the root window anchors.

[code]

[code]

Its failed on:
![Screenshot 2021-05-20 at 12 20 48](https://user-images.githubusercontent.com/63807677/118962672-e9c88480-b965-11eb-82a1-0185f83a0ea0.png)

Is there a way to pause the rendering or update the size view ?

Thanks in advance,
Best r

[2021-05-20 20:42] bghgary commented on #753
Pausing the rendering should be as simple as not calling the rendering functions (Graphics::StartRenderingCurrentFrame and Graphics::StopRenderingCurrentFrame).

There is an Graphics::UpdateSize function also.

[2021-05-21 18:44] rgerd opened #755 "XR rendering is broken on platforms that don't update NativeXR window pointer"
**Describe the bug**
No rendering happens on platforms that don't call [`NativeXR::UpdateWindow`](https://github.com/BabylonJS/BabylonNative/blob/master/Plugins/NativeXr/Source/NativeXr.cpp#L442) due to a [change](https://github.com/BabylonJS/BabylonNative/commit/e2e409d6038c3d5e9f3c286c88f1741432230f84) that blocks eye texture creation if no window pointer is set. The only platform that calls `Na

[2021-05-21 19:32] #704 closed

[2021-05-21 20:51] #652 closed

[2021-05-21 22:44] darraghjburke opened #759 "Loading resources over HTTP should produce informative, consistent exceptions"
Issue: we don't currently know what passing an invalid URL to XMLHTTPRequest will do across different platforms, and we're not sure what the correct behavior should be. We probably want to throw a JavaScript exception, but should that be thrown in the Send() method or the Open() method?

Things to consider:

- How closely should we match behavior on the web? [The spec does not explicitly specify w

[2021-05-21 22:54] bghgary commented on #681
Just tested @ryantrem's fix on an iPhone 7 Plus and it works perfect. @ryantrem Can you verify that your suggested change works on other devices?

[2021-05-24 14:38] bghgary commented on #755
Change reverted.

[2021-05-24 14:38] #755 closed

[2021-05-25 16:42] darraghjburke commented on #759
As of right now, the behavior on Windows is similar to the (unpatched) Android behavior. Attempting to load "noprotocol.gltf" or similar causes the following error:

This leads to the program aborting. We may want to make this behavior match the new Android behavior, where the exception is passed to the Javascript code.

[2021-05-25 19:18] sokorototo opened #762 "Compile BabylonNative with g++ on Windows."
**Issue**
I use g++ as my primary C++ compiler. I also have VisualStudio build tools for Rust development. I saw that it _is_ possible to build BabylonNative with g++ but only on Linux. I wondered if it is possible to add support for building with g++ on Windows. It would be very handy for us who do not use VisualC++ by preference.

**Solution**
Add support for building BabylonNative with g++.

[O

[2021-05-27 00:18] #681 closed

[2021-05-27 15:39] #663 closed

[2021-05-27 15:47] CraigFeldspar opened #766 "Buttonpress event are fired on both controllers at the same time in XR"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
Whatever controller (gamepad or hands) you use in XR, pointerdown events will be sent on both controllers at the same time to babylonjs.

[2021-05-27 15:48] CraigFeldspar commented on #766
@rickfromwork can you please assign me on that ? 😃

[2021-05-27 18:09] bghgary commented on #659
Closing due to inactivity. Please reopen if you still want to pursue.

[2021-05-27 18:09] #659 closed

[2021-05-27 18:13] #594 closed

[2021-05-27 18:19] waverider404 opened #767 "cant load gltf file android studio"
I can't load gltf models from https request on android studio, I am getting can't import mesh error

[2021-05-27 18:28] darraghjburke commented on #767
Hi @waverider404, could you provide some more details about the import mesh error that you're getting?

Things that would be helpful:
- exact steps to reproduce the issue (or at least the problematic code snippet)
- any console/debug output that you're getting
- other things you've tried (does it work for http requests? does it work for other file types?)

For future reference, when you create an

[2021-05-27 19:19] waverider404 commented on #767
oh my bad,
so i have this error
`2021-05-27 15:16:20.630 7256-7399/com.android.babylonnative.playground W/BabylonNative: BJS - [15:16:20]: Unable to find a plugin to load .glb files. Trying to use .babylon default plugin. To load from a specific filetype (eg. gltf) see: https://doc.babylonjs.com/how_to/load_from_any_file_type
`

And yes it's a https request, I tried with a .babylon file and it wor

[2021-05-27 20:51] darraghjburke commented on #767
It sounds like you need the GLTF file loader plugin. @Drigax what would be the easiest way to add that to a Babylon Native project?

[2021-05-28 00:46] #705 closed

[2021-05-28 17:51] Drigax commented on #767
Taking a look at our sample playground app:
https://github.com/BabylonJS/BabylonNative/blob/befafc77497fceb8ea870f3f65f6420ac77f9392/Apps/Playground/Scripts/experience.js#L2

We now use the babylon.js loaders NPM package via:
https://github.com/BabylonJS/BabylonNative/blob/befafc77497fceb8ea870f3f65f6420ac77f9392/Apps/package.json#L9

@waverider404 can you make sure you're loading this module with

[2021-05-28 21:44] bghgary commented on #753
@EricBeetsOfficial-Opuscope Did this work for you? Do you need more help with this?

[2021-05-28 23:11] EricBeetsOfficial-Opuscope commented on #753
Hi @bghgary,

Actually, it works (but not in the way I want..):
I set `mtkView.autoResizeDrawable = false;`, it allows to enter/exit fullscreen mode (based on anchors), but it changes the viewport resolution.
I would like to have a non-fullscreen with a "fullscreen resolution" viewport...
I still work on it ;)

[2021-05-28 23:27] bghgary commented on #753
Ok, do you want to keep this issue open or can we close it?

[2021-05-28 23:34] EricBeetsOfficial-Opuscope commented on #753
Not sure: if the normal behavior is to adapt the resolution of the viewport to the view, we can close :)
If we can choose the viewport resolution independently of the view resolution, it still an issue: \

[2021-05-29 01:47] syntheticmagus commented on #734
I believe the bug is actually coming from a case in the traverser before the one that happens, which leaves the AST in an invalid state.

https://github.com/BabylonJS/BabylonNative/blob/ada433c1d8053b5620e40b5665eb65efdbdaaff3/Plugins/NativeEngine/Source/ShaderCompilerTraversers.cpp#L68-L72

This code always replaces the condition if the parent of the symbol to be replaced is a selection node, but

[2021-05-29 02:12] syntheticmagus commented on #732
Just from a glance, this may be a lot trickier to get right than it seems on the surface. I haven't debugged it to know for sure, but `sampler2D` is tricky because it actually has to be split into two variables, a sampler and a texture. It actually has its own dedicated traverser to do this. Thus, if you're passing around samplers as parameters, to mimic that behavior in the modified shader we're

[2021-05-31 12:33] CedricGuillemet commented on #762
Hi @sokorototo

You should be able to build BabylonNative with GCC9 or GCC10 without troubles. I'm not familiar with this workflow but by setting CC and CXX shell variables, CMake should be able to find and use it. I don't know how it will behave with platform SDK/D3D API but I'm curious to see.

[2021-06-02 13:10] CedricGuillemet commented on #398
Current status for shadows:
- [x] Basic shadow implemented
- [x] Filtering and order or rendering fixed with this PR https://github.com/BabylonJS/BabylonNative/pull/739
- [ ] Cubemap shadows not supported yet

[2021-06-02 17:15] syntheticmagus commented on #733
Under the specified circumstances, the empty "what" being being bubbled up is expected from the current implementation because `getDebugInfoLog()` returns the empty string; the actual compilation error message can be retrieved by `getInfoLog()`. I'm not sure if we know of a circumstance where `getDebugInfoLog()` will contain information we need -- if so, we should add it back -- but assuming we're

[2021-06-02 17:40] Popov72 commented on #732
We have fixed this problem in WebGPU with an automatic inliner: you just have to tag the function with `#define inline` and process the shader code with the inliner:

https://github.com/BabylonJS/Babylon.js/blob/master/src/Engines/WebGPU/webgpuShaderProcessors.ts#L375-L378

We already have tagged all the shader functions with `#define inline` in the Babylon.js repo that took a sampler as a paramet

[2021-06-02 18:00] Popov72 commented on #732
And the sampler/texture split is handled in the shader processing code in this function:
https://github.com/BabylonJS/Babylon.js/blob/master/src/Engines/WebGPU/webgpuShaderProcessors.ts#L144-L283

Basically, when we process a `uniform samplerXXX myOrigTexture` uniform, we output two `layout(...) uniform` variables, one for the sampler and one for the texture, something like:
[code]
where ${name} i

[2021-06-03 06:58] syntheticmagus commented on #733
@rgerd, can you confirm that this is fixed by #772 and, if so, close this issue?

[2021-06-03 18:37] rgerd opened #773 "Support WebXR fillPoses and fillJointRadii"
The WebXR hand tracking API explainer recommends using `fillPoses` and `fillJointRadii` as a way of reducing the number of javascript objects created per-frame while updating tracked hand models:
https://github.com/immersive-web/webxr-hand-input/blob/main/explainer.md#efficiently-obtaining-hand-poses

We currently only support `getJointPose`:
https://github.com/BabylonJS/BabylonNative/blob/befafc7

[2021-06-04 12:17] EricBeetsOfficial-Opuscope opened #775 "iOS Deployment 13"
Hi there,

I tried to use a deployment on iOS 13 (based on cmake using `-DDEPLOYMENT_TARGET=13`), but XR don't want

I send a PR #774 to fix it.
What do you think ?

Thanks for your work !!

[2021-06-04 17:03] rgerd opened #777 "Need a way to cache shader IL to avoid compilation slowdowns at runtime"
**Is your feature request related to a problem? Please describe.**
Currently, when we load in new shaders from Babylon.js, we have stuttered performance with the shader getting parsed and compiled at runtime.

**Describe the solution you'd like**
It would be nice to find a way for us to be able to package pre-compiled intermediate language binaries with our applications so we don't need to recompi

[2021-06-04 19:08] rgerd opened #778 "Need a validation test for depth prepass."
It was recently discovered that the [`needDepthPrePass`](https://doc.babylonjs.com/typedoc/classes/babylon.material#needdepthprepass) material property was causing the depth buffer to block the following opaque/color rendering step. We should consider adding a validation test to make sure this isn't broken in the future.

[The relevant code in renderingGroup.ts](https://github.com/BabylonJS/Babylo

[2021-06-04 19:18] rgerd opened #779 "Framerate stutters when recompiling shaders"
**Describe the bug**
We're seeing framerate stutter on HoloLens when recompiling a shader that hasn't changed at all (same defines etc).

**To Reproduce**
An illustrative playground: https://www.babylonjs-playground.com/#ZWWEP8#1
Note that the performance in-browser is totally smooth while there is stuttering when running on BabylonNative, even on desktop. The stuttering is significantly pronounce

[2021-06-04 22:11] bghgary commented on #779
Related: #402

[2021-06-07 11:23] CedricGuillemet commented on #778
Some documentation is available in this PR so anyone can add a new test scene : https://github.com/BabylonJS/BabylonNative/pull/780

[2021-06-07 16:28] darraghjburke opened #782 "Unhandled exception handler in WorkQueue doesn't handle exceptions inside arcana taskchain continuations"
**Describe the bug**
When an exception happens inside of an arcana task chain continuation, it is never caught by the WorkQueue's unhandled exception handler.

See https://github.com/BabylonJS/BabylonNative/blob/master/Core/AppRuntime/Source/WorkQueue.h#L30

**To Reproduce**
Steps to reproduce the behavior:
1. Throw an exception from inside an arcana task chain continuation
2. Place a breakpoint i

[2021-06-07 17:33] #319 closed

[2021-06-07 21:39] Drigax commented on #31
Update 2021-06-07

My work is currently staged on:
https://github.com/Drigax/BabylonNative/tree/add-labsound (BabylonNative)
https://github.com/Drigax/Babylon.js/tree/add-native-audio (Babylon.js)

The native changes currently implement a Plugin component for NativeAudio, and modifies the Win32 playground to initialize NativeAudio. Currently the NativeAudio plugin intializes N-Api wrappers for the

[2021-06-07 21:59] Drigax commented on #31
Moving forward there are some outstanding work to be done until I believe this work is ready for merging:

- [ ] Remove debug logging from NativeAudio.cpp
      - [ ] Ideally, refactor to use a preprocessor macro/AppRuntime level logging component.
- [ ] Move NativeAudio.cpp class/member declarations to a header, and refactor method implementations in respect of these changes.
- [ ] Implement _som

[2021-06-08 15:53] ryantrem opened #785 "iOS app will crash in XR when device is rotated"
This is a regression from https://github.com/BabylonJS/BabylonNative/commit/1e9f62dfccd658d2b54886617a1f9b6ba893d237

[2021-06-08 20:57] syntheticmagus commented on #584
https://stackoverflow.com/questions/32894051/how-to-do-parallel-cmake-externalproject-builds#:~:text=When%20building%20a%20CMake%20project%20%28e.g.%20on%20Windows%29%2C,is%20not%20passed%20through%20to%20its%20build%20command.

@chrisfromwork It looks like it's possible for people to do this for themselves at config time. Is that sufficient, or do we believe this should be integrated more deeply

[2021-06-08 21:31] jp833 opened #788 "AR view broken on Samsung SM-T820"
[**For](url) questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
AR view broken as shown in the screenshots. This does not repro on other android/iOS devices I have tested with.

**To Reproduce**
Steps to reproduce the behavior:

1. Run BabylonNative project with ar=true (experience.js)

Note: We saw this issue in our BabylonReactNative project. The plane detect

[2021-06-08 21:58] syntheticmagus commented on #788
Interesting; it appears to be repeating, almost like there's an error in the texture format. @ryantrem, have we ever seen something like this on one of our devices?

@jp833, I'm curious if some of what we're seeing is the right pixel data, but packaged into a texture strangely. Am I correct in assuming that the scene shown in the screenshot at the top is what you were expecting to see in AR on the

[2021-06-08 22:29] bghgary commented on #584
@syntheticmagus I don't think your link is talking about the same thing as @chrisfromwork's link.

There are 3 types of parallelism when building on Windows that I'm aware of.
1. Tell the VC++ compiler to use multiple processors ([/MP](https://docs.microsoft.com/en-us/cpp/build/reference/mp-build-with-multiple-processes?view=msvc-160))
1. Tell MSBuild to use multiple processors ([the /m switch](ht

[2021-06-08 22:47] #785 closed

[2021-06-09 00:35] syntheticmagus opened #790 "`Graphics::Context` concept for advanced rendering scenarios"
In conversations surrounding #739, several advanced scenarios came up which revealed deficiencies in the abstractions currently available in the Graphics component. These deficiencies center around problems that arise during multi-render scenarios.

The "canonical" Babylon Native application is columnar in that, at any given time, it only has one instance of each of its major concepts.
 - One `Gra

[2021-06-09 07:57] CedricGuillemet opened #791 "Cedric's small fixes to do"
Collection of small fixes worth doing when time allows it.
- [ ] Validation Tests should use compressed .png.
- [ ] Linux CURL implementation should be factored. `LoadFile` function is quite hard to read.
- [ ] cmake.yml instanciate 2 steps. 1 is canceled depending on the platform. Find a way to only have 1 step.
- [ ] Why V8 napi impl need check on version introduced in this PR : https://github.c

[2021-06-09 07:58] CedricGuillemet commented on #512
I think this issue can be closed. Do you confirm @bghgary @syntheticmagus @ryantrem  ?

[2021-06-09 08:02] CedricGuillemet opened #792 "Metal Validation Layer reporting problems"
Xcode Metal validation layer reports issues with BabylonNative Validation Tests ap and Babylon React Native Playground app.
Rendering is correct but users asking for support are told to disable the validation layer. Which is not great.
Find out why errors are reported.

[2021-06-09 16:06] bghgary commented on #512
This shouldn't be an issue anymore.

[2021-06-09 16:30] CedricGuillemet commented on #512
Closing.

[2021-06-09 16:30] #512 closed

[2021-06-09 18:11] bghgary opened #793 "Remove `document = {}` from playground sample app"
See https://github.com/BabylonJS/BabylonNative/blob/3ba8ff43e57431656d29034576d72b83137c4676/Apps/Playground/Win32/App.cpp#L146

This line exists because the next line loading `ammo.js` fails because there is an issue with the bootstrapping code trying to access `document` without checking its existence.

We should look into fixing the bootstrapping code in `ammo.js` and remove the `document = {}`

[2021-06-09 21:50] ryantrem commented on #792
This was recently working with metal validation enabled, and we turned it on in the Babylon React Native Playground app, but I also noticed yesterday it is failing again. Must be a recent regression.

[2021-06-10 00:34] #733 closed

[2021-06-10 01:17] #751 closed

[2021-06-10 18:22] bghgary commented on #734
This is fixed now.

[2021-06-10 18:22] #734 closed

[2021-06-11 07:12] CedricGuillemet commented on #788
Did you see any error related to OpenGL/ES in Android Studio logcat when switching AR on ?

[2021-06-12 03:04] jp833 commented on #788
Console error --

2021-06-11 19:54:59.841 16937-16937/? E/Zygote: v2
2021-06-11 19:54:59.842 16937-16937/? E/Zygote: accessInfo : 0
2021-06-11 19:55:09.380 16937-17479/com.android.babylonnative.playground E/NdkImageReader: AImageReader_getWindow
2021-06-11 19:55:10.038 16937-17479/com.android.babylonnative.playground E/native: camera_ndk_wrapper.cc:44 Unable to load ACameraDevice_createCaptureSess

[2021-06-12 05:22] ryantrem commented on #788
What version of Android is installed on your device?
What version of ARCore is installed on your device?

[2021-06-15 16:25] rgerd commented on #637
Pretty sure the texture arrays fix has fixed this

[2021-06-15 16:25] #637 closed

[2021-06-15 17:04] bghgary commented on #334
Closing for now. Support for API level 24 is in. If we need API level 21, we can open a new issue.

[2021-06-15 17:04] #334 closed

[2021-06-15 19:00] #738 closed

[2021-06-15 20:26] darraghjburke opened #802 "Integrate Mocha.js-based testing infrastructure"
Parts of the Babylon Native codebase should be unit tested. We will use Mocha.js to test our polyfills from Javascript. We should build out the infrastructure to do unit testing, and then gradually add test for different parts of the codebase. The initial focus will be on testing XMLHTTPRequest.

Progress so far:

- [X] Design meaningful tests for XMLHTTPRequest
- [X] Create infrastructure to run

[2021-06-15 20:27] darraghjburke commented on #759
Waiting on #802, want to make sure that the code has strong unit testing in place before making further changes in order to prevent regressions.

[2021-06-15 20:27] darraghjburke commented on #427
#802 is tracking progress on unit testing

[2021-06-16 09:27] #426 closed

[2021-06-16 16:44] CedricGuillemet opened #803 "Dynamic Vertex Array and uint8/16 to float"
DynamicVertex array does not support [u]int8/[u]int16 types. Promote to float like the static vertex array version.
Also, replace exisiting code with bgfx::vertexConvert / vertexUnpack code

[2021-06-17 18:12] bghgary commented on #762
Closing due to no activity. Please reopen if this is still interesting to pursue.

[2021-06-17 18:12] #762 closed

[2021-06-18 10:20] ThomasNigro commented on #619
We're tentatively roadmapping this work for this summer (probably August/September), we will keep you posted.

[2021-06-18 10:22] EricBeetsOfficial-Opuscope commented on #753
Actually, it's about the ratio of the viewport vs ratio of the UIView. So, indeed, we can close this issue

[2021-06-18 10:22] #753 closed

[2021-06-18 17:04] #766 closed

[2021-06-21 22:23] bghgary opened #807 "Investigate if WebTemplateStudio integration is useful"
https://github.com/microsoft/webtemplatestudio

See if we can use this template for Babylon React Native or Babylon Native directly to make it easier to start a new project.

[2021-06-22 09:12] CedricGuillemet opened #809 "[Canvas] Texture Copy & threading"
Because of threading, Canvas rendering has to be done like this:

https://github.com/BabylonJS/BabylonNative/blob/c00b503d3ab4c2809f1d0725e4bc3aa425677aad/Polyfills/Canvas/Source/Context.cpp#L534

In BabylonJS, the texture copy happens just after canvas rendering. In NativeEngine, if the texture copy happens in sync, it will be performed before the canvas rendering. Texture copy has be be done the

[2021-06-22 17:13] CedricGuillemet opened #810 "[Canvas] different JS behavior for canvas & context destruction"
With JSC and Chakra, canvas and context are destroyed just after the dynamicTexture is disposed.
With V8, those 2 objects are not destroyed before the JS Runtime is destroyed. More and more rendertargets are created and kept in memory. After a while, bgfx can't create a new one.

[2021-06-22 17:29] ryantrem commented on #634
This can happen, for example, when an async `LoadTexture` is in progress and the `NativeEngine` is disposed (or maybe when bgfx is shutdown via `Graphics::DisableRendering`).

[2021-06-22 20:13] #559 closed

[2021-06-23 08:22] CedricGuillemet opened #811 "[GLTF] Validation Tests"
BabylonJS list of validation tests here : https://github.com/BabylonJS/Babylon.js/blob/master/tests/validation/config.json

- [x] GLTF Normals
- [x] GLTF Animation Node
- [x] GLTF Animation Node Misc
- [x] GLTF Animation Skin (0)
- [x] GLTF Animation Skin (1)
- [x] GLTF Animation Skin Type
- [x] GLTF Buffer Interleaved
- [x] GLTF Material
- [x] GLTF Material Alpha Blend
- [x] GLTF Material Alpha M

[2021-06-23 11:06] CedricGuillemet commented on #811
4 tests added with this PR : https://github.com/BabylonJS/BabylonNative/pull/812

[2021-06-23 14:48] CedricGuillemet commented on #792
Yes, I can repro with iOS Validation Tests. With the canvas PR in, the first error I see is related to stencil. I'll fix it before we can continue investigating.

[2021-06-25 01:02] jp833 commented on #788
![Screenshot_20210622-104828](https://user-images.githubusercontent.com/79382720/123353383-3f202480-d516-11eb-8df9-15d4b7fb3824.jpg)

[2021-06-25 01:05] jp833 commented on #788
<img width="448" alt="Screen Shot 2021-06-24 at 6 05 32 PM" src="https://user-images.githubusercontent.com/79382720/123353634-c79ec500-d516-11eb-90eb-66332cf63478.png">

[2021-06-25 03:20] jp833 commented on #788
Google docs indicate ARCore is supported in this device - https://developers.google.com/ar/devices#google_play Samsung galaxy tab S3 T820

Samsung SM-T820 Android 7.0, API 24
ARCore version = 1.25.211460023

adb shell getprop ro.build.fingerprint >
samsung/gts3lwifixx/gts3lwifi:7.0/NRD90M/T820XXU1AQI2:user/release-keys

The camera feed show up when I switch apps and return to BabylonNative.
The me

[2021-06-25 13:44] CedricGuillemet commented on #811
4 more : https://github.com/BabylonJS/BabylonNative/pull/815

[2021-06-25 18:58] #773 closed

[2021-06-28 16:12] CedricGuillemet commented on #788
`eglCreateWindowSurface: native_window_api_connect (win=0x7f69f00210) failed (0xffffffea) (already connected to another API?)
eglCreateWindowSurface:474 error 3003 (EGL_BAD_ALLOC)`

I guess the opengl context is not detached from the Android surface before it gets attached to the new one. Either not detached at all or in the wrong order. I'm looking at where to put breakpoints to validate that.

[2021-06-28 19:16] syntheticmagus opened #817 "Unmaximizing the Babylon Native Playground on Win32 causes an interesting crash"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
It looks like this interrupts the render loop somehow. Maximizing and then unmaximizing the Playground appears to cause us to call `StartRenderingCurrentFrame` when `m_rendering` is already true.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Playground.
2. Maximize.
3. Unmaximize.

**Expec

[2021-06-30 20:54] jp833 commented on #788
Thanks Cedric!
We debugged and found this line to be causing the issue (uncommenting resolves the camera issue) - https://github.com/BabylonJS/BabylonNative/blob/fa4147043842f968e9cdd7f56e33ff3400601a54/Dependencies/xr/Source/ARCore/XR.cpp#L495. Probably we are accessing the old surface.
We introduced this line in https://github.com/BabylonJS/BabylonNative/pull/631

[2021-07-02 07:12] syntheticmagus opened #821 "Abstract and generalize the Graphics component's "update" concept"
At present, the Graphics component supports only one "update" per frame, which is tightly coupled with the rendering. This proposal is to extract, abstract, and generalize this concept to allow for arbitrary distinct "updates" to be performed per-frame, varying by the needs of the application.

This thinking is precipitated by the observation that certain components such as the Canvas polyfill hav

[2021-07-02 12:52] CedricGuillemet commented on #792
Did a Validation tests run on iOS device and MacOS. No issue reported.

[2021-07-02 12:54] CedricGuillemet commented on #759
Got an interesting issue while doing a Validation tests run on iOS device:
[code]
I didn't go any further with that. But it might be an interesting test to check https and http work on all platforms.

[2021-07-02 17:04] #792 closed

[2021-07-05 13:48] CedricGuillemet commented on #817
PR https://github.com/BabylonJS/BabylonNative/pull/823

[2021-07-05 13:53] CedricGuillemet opened #824 "Vulkan port"
Tests and findings with Vulkan

# setViewRect
My screen is high dpi with scaling at 125%
if size provided to setViewRect is higher than backbuffer, you'll get a Vulkan crash (VK_ERROR_DEVICE_LOST) without any more indication.

-  sizing window on win32 leads to a crash.
- GetWindowRect return the rect of the window, not the client area. Use GetClientRect instead

[2021-07-05 17:23] CedricGuillemet commented on #824
Baby step...
![image](https://user-images.githubusercontent.com/1312968/124503731-71f3d380-ddc6-11eb-9db2-a14adf0bce2d.png)

[2021-07-07 07:19] #817 closed

[2021-07-08 20:56] syntheticmagus commented on #809
#821 discusses one possible way to address this, among other considerations.

[2021-07-09 23:01] rgerd opened #827 "XR session relaunches when trying to exit app on HoloLens"
When attempting to exit a BabylonNative app by going home, the xr session relaunches if the app isn't killed in time once out of immersive mode.

[2021-07-13 16:35] rgerd opened #830 "Taking a Mixed Reality Capture crashes the app"
It seems that even opening the MRC preview in the device portal for HoloLens 2 will crash the app.

It was due to some incorrect logic in the secondary view configuration setup that wasn't initializing swapchains because the recommended view dimensions were the same, disregarding the fact that the swapchains hadn't been initialized.

This comment was to remind us that we still needed to initialize

[2021-07-13 16:36] rgerd opened #828 "Add a NAPI-JSI build to pre-test Babylon React Native"
We just need to fill in the gaps to implement an AppRuntimeJSI and add some CMake to consume the proper headers and libraries from the [v8-jsi project](https://github.com/microsoft/v8-jsi).

This will help us catch issues in the future like these:
https://github.com/BabylonJS/BabylonNative/pull/822
https://github.com/BabylonJS/BabylonNative/pull/805

And could help diagnose this issue:
https://git

[2021-07-16 18:41] jp833 commented on #788
Cannot repro the issue after updating Android version --
<img width="235" alt="image" src="https://user-images.githubusercontent.com/79382720/125873191-7c77b037-94b1-4b26-815d-abb4c12911a4.png">

[2021-07-16 18:46] jp833 commented on #788
Closing.

[2021-07-16 18:46] #788 closed

[2021-07-16 23:26] bghgary commented on #31
As noted here (https://forum.babylonjs.com/t/source-for-n-api-implemented-bindings-of-web-audio-found/22132), might be interesting to check out this also:

https://github.com/node-3d/webaudio-raub

[2021-07-19 23:20] #830 closed

[2021-07-22 04:34] rickfromwork opened #840 "Enable XR Eye Tracking on BabylonNative applications"
Implement OpenXR's eye tracking functionality in BabylonNative, setting up the the infrastructure to allow BablyonJS to receive the latest gaze space for use by developers.

Eye tracking has privacy concerns, which is why to enable eye tracking for a BN project one needs to opt in to the appropriate capability. In Visual Studio, the "Gaze Input" capability in the project's Package.appxmanifest fil

[2021-07-22 20:47] thomlucc opened #841 "BN Core - Epic"
Set of issues tracked by both Babylon Native (BN) team and BN Partner teams should see

[2021-07-22 20:48] #841 closed

[2021-07-22 20:51] thomlucc opened #842 "Babylon Native Core - Epic"
Set of issues both Babylon Native team and Babylon Native Partners teams should see

[2021-07-23 00:01] rgerd opened #843 "Window::RecursiveWaitOrCall is performance-heavy"
Taking a CPU profile on HoloLens running a release-mode build shows that Window::RecursiveWaitOrCall is fairly heavy on performance-- most likely due to the high number of dispatch calls. It would be beneficial to reimplement this function using a worker thread that sleeps for the given timeout and then dispatches the function.

<img width="750" alt="recursive-wait-or-call" src="https://user-image

[2021-07-23 23:50] #828 closed

[2021-07-27 15:43] ryantrem opened #848 "XR does not render on iOS in some sceanrios"
After https://github.com/BabylonJS/BabylonNative/commit/1cff669255dee7aaf0a69acce1e1af23f3ec536f, XR mode on iOS does not render correctly in some scenarios. Specifically, only the camera feed is rendered to the screen, not the Babylon scene. So far I've only reproed this a test app that launches directly into XR mode, and only when loading a .glb file, so it seems like it might be timing related

[2021-07-27 19:52] #840 closed

[2021-07-28 19:36] syntheticmagus opened #849 "Babylon Native getting different shadow shader code than appears on the Web"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
Under certain poorly-understood conditions, Babylon.js seems to be sending different shadow shader code to Native than it does to the browser.

From Spector.js:
![spectorjs](https://user-images.githubusercontent.com/33846034/127385174-2e8b2a0a-c745-4fb0-bf00-6e29197d9fd3.png)

From ShaderCompilerD3D.cpp:

[2021-07-29 17:23] #848 closed

[2021-07-29 20:50] ryantrem opened #852 "Display rotation in XR mode on Android crashes"
After https://github.com/BabylonJS/BabylonNative/commit/1cff669255dee7aaf0a69acce1e1af23f3ec536f, the second display rotation that occurs on Android while in XR mode causes the app to crash. Following is the stack I see in debug (it does crash in release):

bx::debugBreak() debug.cpp:36
Babylon::BgfxCallback::fatal(char const*, unsigned short, bgfx::Fatal::Enum, char const*) BgfxCallback.cpp:31
bg

[2021-07-29 22:28] rgerd opened #854 "NativeCanvas.loadTTFAsync returns null when using NAPI-JSI"
Running the Win32 validation tests using NAPI-JSI, the following line throws an error because `loadTTFAsync` returns `undefined`. Moving the test start-up code outside of the promise callback reveals everything else working, so if we fix this then we can have validation tests running on NAPI-JSI.

https://github.com/BabylonJS/BabylonNative/blob/954a6007b1b5ef6c4f45297e44e486fbad7dd177/Apps/Validat

[2021-07-30 17:30] #852 closed

[2021-08-02 12:55] CedricGuillemet commented on #849
output is different: packing to 4 floats VS returning 1 float. This is generally the case when you don't have float texture support and pack a float to RGBA8.
Looking at the caps in native engine, I think it's the case here:
https://github.com/BabylonJS/Babylon.js/blob/c89dbd5ae3ccb3126aa03c84869fbdfa8b7f3e7b/src/Engines/nativeEngine.ts#L851

[2021-08-03 17:42] rgerd commented on #678
Once we get #854 closed we can close this one out too.

[2021-08-03 22:23] #854 closed

[2021-08-18 17:47] Alex-MSFT opened #871 "Camera texture is cleared before render in XR mode"
**Describe the bug**
After the upgrade to Babylon.JS 5.0.0-alpha.37 the camera texture is rendering as blank when running in XR mode. This has been root caused to the [added clear in scene.ts](https://github.com/BabylonJS/Babylon.js/blob/0d93186a33ab7fdc2dde017e976d5788c8f24303/src/scene.ts#L4005) in this change in Babylon.js: https://github.com/BabylonJS/Babylon.js/pull/10762

**To Reproduce**
1.

[2021-08-23 20:25] #678 closed

[2021-09-03 11:42] EricBeetsOfficial-Opuscope commented on #871
UP 😛
Any news from the BJS part ?

[2021-09-03 22:19] darraghjburke opened #877 "Playground app crashes on MacOS when resizing window"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
When resizing the playground window on MacOS, the app fails the following assertion:
_MTLValidateResolveTexture:281: failed assertion `MTLRenderPassDescriptor texture and resolveTexture size mismatch.`

**To Reproduce**
Steps to reproduce the behavior:
1. Build the playground on MacOS
2. Resize the window

[2021-09-06 08:43] CedricGuillemet commented on #877
I'm taking a look.

[2021-09-06 12:49] CedricGuillemet commented on #877
Disabling MSAA (it's now the 1st thing I test on Apple when a rendering issue appears) gives a different behavior and a Metal validation crash caused by Scissor. I think the later issue can be fixed with more check in Graphics.
The MSAA bug is more concerning as I'm still debugging Highlighting that's not working because of MSAA.

[2021-09-07 14:53] CedricGuillemet opened #878 "[Android] Restart Activity with XR"
Follow up https://forum.babylonjs.com/t/babylonnative-is-it-possible-to-restart-an-android-activity/23542/24

**Describe the bug**
Crash second time launching the playground activity when XR was active the first time.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this blanch https://github.com/EricBeetsOfficial-Opuscope/BabylonNative/tree/test/Android_lifecycle_activities
2. Build &

[2021-09-07 14:56] CedricGuillemet commented on #878
Is this related to https://github.com/BabylonJS/BabylonReactNative/issues/183 ?

[2021-09-07 15:12] CedricGuillemet commented on #878
Crash happens when trying to render frame with an opengl invalid operation. It looks like the gl context is invalid. I commented XR rendering (surface creation/ gl context binding) and it still crashes.

[2021-09-08 20:12] bghgary commented on #871
Sorry, was on vacation. I believe all the parts are merged and this should be working. Can you verify?

[2021-09-08 20:21] bghgary commented on #871
@RaananW Can you help?

[2021-09-09 10:56] RaananW commented on #871
This should have been solved by now. Is it still failing in native?

[2021-09-09 17:14] bghgary commented on #871
https://github.com/BabylonJS/Babylon.js/pull/11042 should resolve the last part. Once that is merged, we need a new npm package to pick up. Then we should be good to go.

[2021-09-10 13:59] CedricGuillemet commented on #878
Here is a list of things I've tried to identify the reason why the openGL context is broken:
- BP on eglMakeCurrent -> no call stack
- removed all plugins but the mandatory ones to repro the bug
- removed XRSurfaceView in BabylonView.java -> XR is not rendered
- removed opengl rendering code paths in XR.cpp
- removed texture override in nativeXR.cpp
- removed asset creation in XR.cpp (textures, pr

[2021-09-10 14:23] CedricGuillemet commented on #878
- removed framebuffer creation from NativeXR.cpp and use kInvalid handle instead (back buffer)

still crashes.

[2021-09-10 15:53] CedricGuillemet commented on #878
I've started removing ARCore calls from XR.cpp and `ArSession_update(xrContext->Session, xrContext->Frame);` is responsible for producing the context crash. I need to do more checks (with full rendering code uncommented) to confirm.

[2021-09-10 16:00] CedricGuillemet commented on #878
Extracted comment from the function definition:
[code]

[2021-09-10 16:06] CedricGuillemet commented on #878
Obvious change to save/restore context/display/surface before and after the call doesn't work.

[2021-09-10 22:57] #871 closed

[2021-09-11 00:38] darraghjburke opened #880 "JavaScriptCore NAPI layer does not throw exceptions to JS correctly"
**Describe the bug**
NAPI Exceptions thrown from C++ do not originate from the correct place when using JavaScriptCore. The error will still appear in the console, but it will not be caught by an enclosing try/catch block in JavaScript. This happens on both macOS and Android (haven't tested on iOS).

**To Reproduce**
Steps to reproduce the behavior:
1. Open experience.js.
2. Add the following line

[2021-09-13 08:59] EricBeetsOfficial-Opuscope commented on #871
I just tested on Android and iOS, it works perfectly 👌
Thank you !!!!

[2021-09-13 12:51] CedricGuillemet commented on #878
Doing a bit of progress: Binding opengl context only and not the surface make it not crash in later use of the context.
[code]
Now, there are a bunch of issues with engine destruction/re-initialization...

[2021-09-14 16:12] CedricGuillemet opened #883 "[Android] XR losing tracking after a pause"
**Describe the bug**
On Android, in XR mode: When putting a breakpoint (and waiting few seconds in the debugger) or pausing XR (set XR window to null), cube is not rendered anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Start BabylonNative with XR ON
2. Cube is visible
3. put a breakpoint in XR.cpp like (any other line is fine) https://github.com/BabylonJS/BabylonNative/blob/03f69da

[2021-09-15 15:06] CedricGuillemet commented on #686
I'm taking a look now as I need it to debug https://github.com/BabylonJS/BabylonNative/issues/883

[2021-09-16 18:09] #880 closed

[2021-09-18 00:48] darraghjburke opened #887 "NAPI JSI does not handle nullptr for Function::New utf8name parameter"
**Describe the bug**
Napi::Function::New takes four parameters, the third being a string "utf8name". You typically don't need to specify the utf8name, nullptr is fine. But with JSI, leaving out the third parameter will give you an Access violation error.

**To Reproduce**
Steps to reproduce the behavior:
1. Call Napi::Function::New(env, SomeFunction);
2. Build and run with JSI enabled
3. Program w

[2021-09-20 13:54] CedricGuillemet commented on #883
Fixed by taking care of `experience.js` not being run multiple times when activity's view is ready. Closing.

[2021-09-20 13:54] #883 closed

[2021-09-20 13:55] CedricGuillemet commented on #878
PR https://github.com/BabylonJS/BabylonNative/pull/888

It fixes the issue for some configuration (mine at least). Need more tests with some Samsung device.

[2021-09-23 19:19] darraghjburke opened #893 "Implement clearTimeout in Window polyfill"
We should implement the clearTimeout function. This would enable the use of timeouts in Mocha.js tests. This should probably be done once #843 is finished, since that work will change the implementation of setTimeout.

[2021-09-23 19:21] darraghjburke opened #894 "Fix Console polyfill to allow Mocha.js reporters to work correctly"
The current Console polyfill only implements a limited subset of console functionality. Currently, the built in Mocha.js reporters (which print test results to the console) will not work. We are using a custom reporter as a workaround, but eventually we should fix the polyfill.

[2021-09-23 20:13] #759 closed

[2021-09-23 20:13] darraghjburke commented on #802
Closed by #872

[2021-09-23 20:13] #802 closed

[2021-09-23 20:23] darraghjburke opened #895 "XHR Polyfill should be able to handle both escaped and unescaped URLs"
When a URL has an illegal character like a space in it, it will typically be encoded using percent encoding: https://www.w3schools.com/tags/ref_urlencode.ASP

" " becomes %20, and so on. We want developers to be able to pass in both escaped URLs and unescaped URLs, and handle both correctly. At the moment, each platform may be handling this differently. On Apple, only unescaped URLs work - if the

[2021-09-27 14:22] #686 closed

[2021-10-01 17:01] rgerd opened #904 "Support D3D12 view instancing for multiview rendering on OpenXR"
We currently hand two framebuffers to Babylon.js per-frame, one for each eye, pointing to different layers in the color & depth texture arrays provided by the OpenXR runtime. Ideally, we would use one framebuffer per-frame with the entire texture arrays attached and render to it in one set of draw calls (instead of two, one per eye) using the [GL_OVR_multiview2 extension](https://developer.mozilla

[2021-10-06 20:54] rgerd opened #910 "Native XR objects should minimize communication over NAPI"
We currently have a lot of objects in NativeXr that use `InstanceAccessor`'s to retrieve static information known at construction time, which is much slower than planting the data on the JS-side object and letting JS retrieve it from there.

`XRPose`, for example, is a transform only valid during the frame when it's generated, so we can turn its "transform" property from an `InstanceAccessor` into

[2021-10-07 09:30] CedricGuillemet opened #911 "Performance profiling tool for CI"
Goal is to do (automatic) performance profiling of BabylonNative to detect any regression. This issue will keep track of tasks and PR to achieve it.

Discussion : https://github.com/BabylonJS/BabylonNative/discussions/900

- [x] Separate TestUtils into its own plugin https://github.com/BabylonJS/BabylonNative/pull/908
- [ ] Extend TestUtils plugin with bgfx stats report
- [ ] Generate/compare Reso

[2021-10-07 18:27] darraghjburke opened #914 "Refactor Shader Compiler to reduce preprocessor directives"
The Shader Compiler code currently contains several preprocessor directives, including macros and API-specific #defines. We should try to factor these out to make the code cleaner and more maintainable.

[2021-10-08 07:33] CedricGuillemet commented on #651
1st bug was fixed by changing order of `reset`.
2nd bug is a duplicate of https://github.com/BabylonJS/BabylonNative/issues/878
Closing this issue.

[2021-10-08 07:33] #651 closed

[2021-10-12 13:57] CedricGuillemet opened #916 "[NativeCapture] Capturing a framebuffer crashes bgfx"
Capturing a framebuffer created on the JS side crashes bgfx because texture has not been registered with GraphicsImpl.
Quick repro:

[code]

I did a quick workaround by adding:
[code]
in `NativeEngine::CreateFrameBuffer`. Is it the way to go @syntheticmagus  ?

[2021-10-15 09:49] CedricGuillemet opened #921 "Post FHL Fixes"
Little bug/improvements found during FHL week

- [x] Rendering issue with gltf added by a container and previous meshes in the scene
- [ ] `engine.updateVideoTexture` shall not check it's a NativeCamera
- [x] NativeCamera texture update is very slow on Mac (not on iOS). Find out why. It looks like Metal texture is released before rendering. Depending on speed and Metal reuse of memory. Maybe use a

[2021-10-18 19:54] sebavan opened #922 "ScreenSpaceReflectionPostProcess: Exception in HostFunction: ERROR: 0:8: 'step' : redefinition"
Reporting back https://github.com/BabylonJS/Babylon.js/issues/11298 from @igorroman777

**I just wanted to integrate ScreenSpaceReflectionPostProcess into babylonjs react native.!**

My Code is:
[code]

**Repro**
- Current result:
` ERROR  BJS - [21:39:25]: Error: Exception in HostFunction: ERROR: 0:8: 'step' : redefinition
ERROR: 1 compilation errors.  No code generated.`

**Android phone:**
 - S

[2021-10-19 09:00] CedricGuillemet commented on #922
There is a uniform called `step`
https://github.com/BabylonJS/Babylon.js/blob/5e6321d887637877d8b28b417410abbbeb651c6e/src/Shaders/screenSpaceReflection.fragment.fx#L14

It's a reserved keyword. Changing the name in the shader will fix it. I find it weird that there is no error reported by the browser.

[2021-10-19 16:51] bghgary opened #923 "Morph targets are broken"
Steps to reproduce the behavior:
1. Open any model that uses morph targets (e.g., [MorphPrimitivesTest](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/MorphPrimitivesTest))

Result: Error in JS: `Unable to get property 'TEXTURE_2D_ARRAY' of undefined or null reference`

**Expected behavior**
Model to load without error

[2021-10-19 16:52] bghgary commented on #923
Work around: put this somewhere before loading a model.

[code]

[2021-10-19 16:53] bghgary commented on #923
Once fixed, we should add validation tests so that this doesn't break again.

[2021-10-19 23:35] darraghjburke commented on #916
Even if I insert your workaround in line 1273 of NativeEngine, I'm still seeing:
`Assertion failed: bgfx::isTextureValid(0, false, 1, format, BGFX_TEXTURE_RT), file C:\Users\darraghburke\BabylonNative\Plugins\NativeEngine\Source\NativeEngine.cpp, line 1285`

My code is just:
[code]

I'm on the latest version of master. Any thoughts?

[2021-10-20 08:57] CedricGuillemet opened #924 "Native Video"
A plugin used to decode and encode videos. A draft that declares the plugin and allow VideoTexture + encoding for Mac (and iOS?) is available here: https://github.com/BabylonJS/BabylonNative/pull/917

Missing parts and questions for a complete useable plugin:

- [x] Declare plugin/build
- [x] Apple Decode local MP4
- [ ] Apple Decode MP4 stream (tested with simple https url, didn't work. Maybe nee

[2021-10-20 09:05] CedricGuillemet commented on #19
Does it make sense to close this issue?

[2021-10-21 18:41] Alex-MSFT opened #928 "[iOS] Crash due to invalid pointer for texture during garbage collection"
**Describe the bug**
On iOS when running our app we are seeing an intermittent crash due to attempting to delete an invalid pointer for a texture after engine dispose.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the engine, create a scene
2. Load multiple models
3. Shut down the engine and perform some operations to trigger GC
4. The app will crash

**Screenshots**
![iOS callstack]

[2021-10-21 18:46] Alex-MSFT opened #929 "[Android] - Invalid textures when loading multiple meshes in release builds"
**Describe the bug**
When multiple meshes are present in a scene we sometimes see invalid textures being applied.  I have noticed this in particular with image textures.  This occurs more frequently after disposing/restarting the Engine a few times.  This only occurs on release builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Load multiple models, and image meshes
2. Models may have l

[2021-10-21 22:37] #929 closed, assigned to bghgary

[2021-10-21 23:24] rgerd opened #931 "Investigate D3D12 support"
We need D3D12 at least in order to support [view instancing](https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_view_instancing_desc) for HoloLens performance.

[2021-10-22 07:22] #921 closed, assigned to CedricGuillemet

[2021-10-22 09:40] CedricGuillemet opened #932 "Metal Validation Error with AR/iOS"
I've checked commit and it seems this commit breaks Metal Validation
https://github.com/BabylonJS/BabylonNative/commit/c79d748174cae8aa158de63f1e4f809b567105d6

Everything is ok with
https://github.com/BabylonJS/BabylonNative/commit/b43087a5b26ac8d3dfcb7d1421249d7aed765e35

Run Playground with `ar = true;` in experience.js

![image](https://user-images.githubusercontent.com/1312968/138432089-ee212

[2021-10-22 19:26] rgerd opened #933 "Properly reflect clearing behaviors expected by WebXR spec"
We are seeing frequent destabilization of stereo XR rendering due to inconsistencies in expectations between OpenXR/BabylonNative and WebXR with respect to clearing behavior when passing xr textures to Babylon.js.

The [XRWebGLLayer](https://immersive-web.github.io/webxr/#xrwebgllayer-interface) section of the WebXR spec touches on this topic, and there's a discussion here (https://github.com/imme

[2021-10-22 19:28] #928 closed, assigned to bghgary

[2021-10-25 17:27] #916 closed, assigned to CedricGuillemet

[2021-10-27 23:27] darraghjburke opened #939 "Various shaders fail to compile in Babylon Native"
This issue is tracking all the shaders that I am uncovering which don't compile in BabylonNative. We will address them as they become relevant. If you want to use any of these, please comment in the thread, and we will prioritize fixing it ASAP

- [ ] ScreenSpaceCurvaturePostProcess throws from s_renderD3D11->m_device->CreatePixelShader()
- [ ] SpriteMap: throws from program.addShader()
- [ ] Digi

[2021-11-01 23:08] andrewmo2014 commented on #369
Looks like light estimation on Babylon.js side has been completed since https://github.com/BabylonJS/Babylon.js/pull/11117 CC @bghgary, @RaananW

In summary, introducing xr light estimation and exposing brightness/intensity will help detect if the environment is "too dark"

[2021-11-02 17:16] ryantrem opened #943 "Excessive blocking on iOS impacts frame rate"
Sometimes iOS gets into a state (at least on my device) where it is blocked for up to ~23ms in `FinishRenderingCurrentFrame` waiting for the next metal drawable. I'm able to repro this in the BRN Playground by simply pulling up the app switcher and then going back to Playground. Once in this state, toggling engine view off/on restores normal rendering without the excessive blocking.

[2021-11-02 23:21] darraghjburke opened #945 "Support createMultipleRenderTarget in Babylon Native"
createMultipleRender target is a function which binds multiple color textures to a single framebuffer. This functionality is most likely supported in BGFX as well, we just need to design the right contract for NativeEngine. Supporting this will enable usage of:
* Prepass Renderer
* Subsurface Scattering
* ScreenSpaceReflectionpostProcess

[2021-11-02 23:23] darraghjburke commented on #922
Hey @igorroman777,

The changes to support this feature will be nontrivial. This relies on the createMultipleRenderTarget function, which we don't currently support in Babylon Native. We want to support it eventually, but it isn't currently on our radar.

Is it a must-have for your project?

[2021-11-03 10:31] CedricGuillemet commented on #931
After some more tests with current bgfx version and a newer one I've found that some bug in current is fixed in newer (d3d12 front facing) but a whole new set of issues appear with latest bgfx.
I prefer to wait for a bgfx update before continuing testing and fixing.

[2021-11-05 21:13] bghgary commented on #779
Consider implementing a shader cache that persists across sessions.

[2021-11-09 04:19] loongliu opened #946 "Debug JavaScript with Safari stuck when press `Continue` or `Step over`"
**Describe the bug**
I tried to debug javascript with safari for iOS target and macOS target.
The Safari connected to the JSC successfully.
I can see the console, view the source code, put a breakpoint,
and the JSC stoped at the breakpoint.

But when I click `Continue` or `Step over`, the gui just stuck and nothing happened.
Tried debug for iOS target and macOS target, all the same situation.

**T

[2021-11-09 23:42] darraghjburke commented on #946
Hi, I was able to repro this. I'll do some investigation and see if I can find a solution. Hopefully it's not a Safari bug :)

[2021-11-17 00:26] #914 closed

[2021-11-18 19:14] darraghjburke commented on #946
I tested on another version of Safari but it was still broken. Do you happen to know if there's a version of Safari/MacOS/BabylonNative where this did work?

We think it may have worked at one point, but we're not sure.

[2021-11-19 10:50] CedricGuillemet opened #951 "[iOS] Crash at PG startup with multiupdate"
Xcode 13, iOS 12 and 14 deployment, running on iOS 15.0.2. Crash at playground startup.
[code]

No crash when checking out prior this commit : https://github.com/BabylonJS/BabylonNative/commit/1f4d92ae74e1e8d1b546e97501f1a676ba40065a

[2021-11-22 09:09] #951 closed

[2021-11-28 03:40] waverider404 opened #954 "toggling vr on crashes the app"
I wanted to try out the vr on my quest 2 using oculus airlink but i get this error

![devenv_WgGn2LWlMX](https://user-images.githubusercontent.com/34609417/143728061-afe1cea9-4bb5-4bb0-888c-48389fab9223.png)

[2021-11-29 22:02] bghgary commented on #954
Short answer is that Oculus is not currently supported.

There are multiple open issue relating to Oculus:
#626
#379
#231

I'm not sure this issue adds anything more and thus I'm going to close. Please reopen if you think otherwise.

[2021-11-29 22:02] #954 closed

[2021-11-30 00:45] ryantrem commented on #857
For iOS, besides people occlusion, reconstructed environment mesh can also be used to occlude at least with lidar capable devices: https://developer.apple.com/documentation/arkit/content_anchors/visualizing_and_interacting_with_a_reconstructed_scene

[2021-11-30 10:45] CedricGuillemet commented on #931
I've found a fix for the last issue I had: LOD PG was not working on CI because of indirect batching. PR on bgfx is open here:
https://github.com/bkaradzic/bgfx/pull/2672

[2021-11-30 15:18] RaananW commented on #857
WebXR has a depth-sensing API proposal that is already working on android devices:

https://github.com/immersive-web/depth-sensing

[2021-12-03 16:57] ryantrem commented on #731
This has been fixed (for now hard coded to have auto focus on - in the future we might plumb through an API so JS can control this).

[2021-12-03 16:57] #731 closed

[2021-12-06 20:22] PolygonalSun opened #956 "Refactor and Integration of DeviceInputSystem into BabylonNative (Part 2)"
#### Required ####
- [ ] Add support for other devices/functionality
    - [ ] Evaluate and Implement Mouse detection for Unix and MacOS
    - [x] Mouse secondary buttons
    - [ ] Keyboard
    - [ ] Gamepads
    - [ ] Modify isDeviceAvailable to reflect availability of devices
- [ ] Convert Touch to work as single device
    - [ ] JS Side
    - [ ] Native side (as applicable)
- [ ] Evaluate next

[2021-12-06 20:25] PolygonalSun commented on #742
Moving some elements from this issue to new issue to be handled after 5.0 code freeze.
New issue: https://github.com/babylonjs/babylonnative/issues/956

[2021-12-06 20:29] PolygonalSun commented on #605
The work on the JS side for this is technically done.  The Native side is waiting for this PR: https://github.com/BabylonJS/BabylonNative/pull/953

Since this is part of a bigger issue (https://github.com/babylonjs/babylonnative/issues/742), I'm going to close this.

[2021-12-06 20:29] #605 closed

[2021-12-10 23:35] bghgary commented on #625
This work is not done yet.

[2021-12-13 08:35] #824 closed

[2021-12-13 10:37] CedricGuillemet opened #959 "[Shader Traverser] Exception with UniformTypeChangeTraverser"
When changing uniform types to vec4/mat4, there is one case that is not handled by `UniformTypeChangeTraverser` here throws an exception here: https://github.com/BabylonJS/BabylonNative/blob/9b2bad35c4e020afde0d4355d7d817ebe0466afb/Plugins/NativeEngine/Source/ShaderCompilerTraversers.cpp#L369

This can be tested with https://playground.babylonjs.com/#ycy2il#0

before changing type, there is `float

[2022-01-04 18:05] bghgary commented on #931
PR #826 is in.

[2022-01-04 18:05] #931 closed

[2022-01-05 01:28] darraghjburke commented on #959
@syntheticmagus can you take a look at this one, since I am a bit occupied working on Babylon.js stuff at the moment?

[2022-01-11 09:14] HedwigAR commented on #619
Hey @tinanigro I was wondering if you have any updates of your try at imagetracking?

[2022-01-11 18:34] syntheticmagus opened #969 "Utilize multi-update to remove stopgap measures in canvas and nativeEngine.ts"
Stopgap measures were introduced in canvas and nativeEngine.ts to address capability shortcomings before multi-update was available, in both cases related to command gathering.

- The canvas uses a dispatched command gather step to collect commands for submission.
- nativeEngine.ts has a "scope" concept on the command buffer to overcome `NativeEngine`'s inability to request all commands "at the la

[2022-01-11 19:52] bghgary commented on #809
Related: #969

[2022-01-11 19:55] bghgary commented on #35
@CedricGuillemet Can you verify this is working now? If so, please close.

[2022-01-11 20:01] syntheticmagus commented on #821
Resolved by #926.

[2022-01-11 20:01] #821 closed

[2022-01-11 22:54] rgerd commented on #464
Fixed by #832, which adds support for V8 on ARM/ARM64 UWP (i.e. HoloLens) through V8JSI

[2022-01-11 22:54] #464 closed

[2022-01-12 10:06] CedricGuillemet opened #971 "[XMLHttpRequest] onLoad/onError"
When trying to add sprites validation test scene, I've found that XMLHttpRequest polyfill is lacking onLoad/onError:
https://github.com/BabylonJS/Babylon.js/blob/944c968f2d474c7b0761edf5c64b58a9fb780662/src/Sprites/spriteManager.ts#L344

Is it safe for add accessors for those 2 members and add a corresponding event listener ?

[2022-01-12 10:59] CedricGuillemet commented on #35
It's not fixed for MacOS. When minimizing the window, I get a crash and this error in the log:
[code]

[2022-01-12 16:05] #742 closed

[2022-01-12 16:07] PolygonalSun commented on #742
Input code is now live in Babylon Native and DeviceSourceManager is now serving as primary connection to JS InputManager

[2022-01-12 17:07] bghgary commented on #971
Why is this code (on the js side) not using Tools.LoadFile??

[2022-01-12 17:08] bghgary commented on #971
We can certainly add more event listeners, but I think we should just fix the js side.

[2022-01-12 17:35] CedricGuillemet commented on #971
Makes sense. I'll take care of that.

[2022-01-13 15:57] CedricGuillemet commented on #971
Fixed with https://github.com/BabylonJS/Babylon.js/pull/11775

[2022-01-13 15:57] #971 closed

[2022-01-13 18:46] ryantrem commented on #619
Some work has been done on image tracking. We don't have an ETA for when it will be "done" yet. If anyone wants to contribute, let us know!

[2022-01-24 23:07] #933 closed

[2022-01-25 18:13] ryantrem opened #984 "JSC protect/unprotect results in a lot of overhead"

[2022-01-25 18:14] ryantrem commented on #984
Issue moved to [BabylonJS/BabylonReactNative #332](https://github.com/BabylonJS/BabylonReactNative/issues/332) via [**ZenHub**](https://www.zenhub.com/)

[2022-01-25 18:14] #984 closed

[2022-01-25 18:20] ryantrem opened #985 "BoundingInfo.update often represents at least 10% of frame time"
This is quite a big chunk of frame time, and probably even more now since we've optimized a bunch of other things. It would be worth digging into this more and seeing if there are optimization opportunities here. See the discussion: https://github.com/BabylonJS/BabylonNative/discussions/983#discussioncomment-2045142

[2022-01-27 08:51] HedwigAR commented on #619
@ryantrem I'm no native guru, but if there's a list of tasks somewhere, I could check if there's something I can pick up.

[2022-01-28 00:45] ryantrem opened #987 "Support Images in NativeEngine.createImageBitmap"
We need this as part of the XR image tracking work. Specifically, image tracking has a list of reference images:

https://github.com/BabylonJS/Babylon.js/blob/master/src/XR/features/WebXRImageTracking.ts#L22

These can either be strings (e.g. a url) or an `ImageBitmap` that has already been loaded. In the case of a string, the XR image tracking feature will use it as the source of an `Image`, load

[2022-01-28 00:48] ryantrem commented on #619
Hey @HedwigAR thank you for the offer! I created the #987 to track part of the work that has not been started. Let me know if you'd be interested in trying to take this on!

[2022-01-28 08:49] CedricGuillemet opened #988 "MSAA iOS/Android"
MSAA is disabled in the code for iOS and Android.  https://github.com/BabylonJS/BabylonNative/blob/5b5ad204466693ab849806616c063694d2986701/Core/Graphics/Source/GraphicsImpl.cpp#L40
On iOS, it caused an issue with Highlighting https://github.com/BabylonJS/BabylonReactNative/issues/215
An issue has been open on bgfx : https://github.com/bkaradzic/bgfx/issues/2620
On Android, it leads to a crash htt

[2022-01-31 15:00] CedricGuillemet commented on #987
As `Image` would be used by xr, canvas and engine, does it make sense to put its definition/implementation is Core Graphics?

[2022-01-31 19:33] ryantrem commented on #987
Core Graphics feels wrong to me since we're basically talking about a common native defined JS object. I don't think Graphics even has a napi dependency. I wonder if maybe we need a new lib under Core, like `Types` or something like that. Even that feels a bit weird though, because conceptually it overlaps with polyfills. Is the idea that plugins should not be able to depend on polyfills maybe wro

[2022-01-31 22:04] bghgary commented on #987
I'm not sure. We are in the middle of adding [a graphics context](#967) that has dependencies on napi, but it still might not make sense there. What do you think @syntheticmagus?

[2022-02-04 13:05] CedricGuillemet opened #992 "bgfx & instancing"
bgfx instancing is quite limited. See https://github.com/BabylonJS/BabylonNative/pull/990

Something should be done to be less restrictive.
 c/c other possibilities:

- modify bgfx to allow instance divisor per stream. It would be in sync with webGL. This tiny bit of work cover a change in API contract and also reimplementing instances for a few platforms (D3D11, D3D12, Metal, OpenGL, Vulkan) whil

[2022-02-04 18:20] bghgary commented on #923
@SergioRZMasson I think we missed doing this. It would be good to do so that we can't break it again.

[2022-02-04 19:58] syntheticmagus opened #993 "Consider changes to `NativeInput` ownership model"
NativeInput, as presently implemented and used, is owned by a JavaScript context and merely exposed to app-level logic. This is an inversion of the pattern used by other components encapsulating platform behavior -- notably the Graphics component -- which are owned by app-level logic and merely exposed to JavaScript contexts. This pattern deviation causes a few differences in how NativeEngine is u

[2022-02-05 16:30] ryantrem commented on #993
I propose we have NativeInput follow the same pattern as NativeXR and NativeCamera, where there is a shared plugin object with a native and js “projective” of the plug-in api, and lifetime management is shared between native and js.

[2022-02-09 17:20] #604 closed

[2022-02-09 17:40] SergioRZMasson commented on #726
@ryantrem , the PR with memory optimizations is already in master. Can you check if this solves the issues you guys were having?

[2022-02-10 14:56] CedricGuillemet opened #996 "Metal validation Error with Space Demo"
Related to surfaces and Stencil.

[2022-02-10 19:45] nickcastel50 opened #997 "iOS ARKit XRHitTest "Invalid Argument" Error In Playground Demo"
**Describe the bug**
On the latest master commit, I'm having issues across multiple devices (iPhone 13 Pro / iPhone 11 / iPad Pro) enabling both AR and XRHitTest in experience.js with the playground demo.

**To Reproduce**
Steps to reproduce the behavior:
1. My configuration variables in experience.js look like the following:

[code]

**Expected behavior**
Expect to see the cube in AR and be able

[2022-02-11 21:15] rgerd opened #999 "scene.pickWithRay is too slow to be run per-frame on HoloLens"
We're currently seeing scene.pickWithRay take up about 12 milliseconds per-frame when running a scene with the scene understanding world mesh enabled.

This problem isn't apparent on desktop WMR or on quest, and so it seems to be specific to using HoloLens on BabylonNative.

![pick-with-ray-profile](https://user-images.githubusercontent.com/4724014/153665121-180e4aa8-3ed5-4c11-89b5-3d42979f2160.pn

[2022-02-14 08:41] HedwigAR commented on #619
Hi @ryantrem I feel like it's a bit rude to not answer but I took a look at the list and I very much doubt I could add anything of value. I'll keep checking it to see if something pops up that I can help with.

[2022-02-14 14:11] CedricGuillemet opened #1000 "setHardwareScalingLevel broken on Win32 Playground"
In experience.js, add `engine.setHardwareScalingLevel(2.5);` with any value bigger than 1, a part of the window is not refreshed at the top. The bigger the value, the bigger the non refreshed area. Might be happening on other platforms. I've tested Android without issue.

[2022-02-14 19:21] ryantrem commented on #619
Sounds good. Likewise I will update this thread when more progress is made.

[2022-02-15 01:59] bghgary commented on #943
This does not repro for both @ryantrem and I, so we are going to close for now. Reopen if someone sees this again.

[2022-02-15 11:51] CedricGuillemet opened #1001 "[Canvas] Color parsing"
`rgba(r,g,b,a)` parsing not supported by regex.
Also reorder code so regex is used last for better performance.
Bonus point: check parsing in test unit.

[2022-02-15 18:11] #943 closed

[2022-02-16 20:34] rgerd opened #1005 "OpenXR mesh detector adds meshes that are probably just updates"
Loading 6 "new" meshes produced by the mesh detector when running on WMR/OpenXR, I'm seeing lots of overlap and similar triangle counts (on the order of 10-15k triangles). I would expect there to be very little overlap between the individual meshes reported as new. This causes our triangle count to increase massively for the world mesh. Seems like at least some these meshes should instead be repor

[2022-02-17 01:14] bghgary opened #1006 "Main thread is blocked when rendering for Playground app on macOS and iOS"
The playground app on macOS and iOS:

https://github.com/BabylonJS/BabylonNative/blob/a02f821a2cae1c935377f7074e456dbb63de8dee/Apps/Playground/iOS/LibNativeBridge.mm#L105-L112

https://github.com/BabylonJS/BabylonNative/blob/76e5ba1ee58fb4ed10ae72de0a3253e434f09686/Apps/Playground/macOS/ViewController.mm#L39-L44

The code is currently calling FinishRenderingCurrentFrame immediately following Start

[2022-02-17 01:15] bghgary commented on #1006
Related: https://github.com/BabylonJS/BabylonReactNative/issues/343

[2022-02-17 21:56] bghgary commented on #923
Turns out, morph targets are still not working properly.

[2022-02-18 22:32] #997 closed

[2022-02-24 14:15] CedricGuillemet opened #1010 "Replace Napi method with properties"
Methods like `NativeEngine::GetRenderWidth` start to appear in CDT profiling. It's called (at least) once per frame even with that few calls, it's slow enough to rise in the top methods.
(https://github.com/BabylonJS/BabylonNative/blob/4fd6df8541c5bc0ae98a9db7879917f46dbc0eb2/Plugins/NativeEngine/Source/NativeEngine.cpp#L1484)

Replace with properties anywhere possible. Only update the napi value

[2022-02-24 16:01] CedricGuillemet commented on #985
Might be related to this :
https://github.com/BabylonJS/Babylon.js/pull/12030
In a recent demo project, getLOD was taking up to 25% of JS time.

[2022-02-25 11:48] CedricGuillemet opened #1013 "Moving to VS2022"
Related : https://github.com/BabylonJS/BabylonNative/pull/1012

`windows-latest` moved to VS2022. Do we want to stick with 2019 or move to 2022 as the default? I guess we can wait after 5.0 release

[2022-02-25 18:39] CedricGuillemet commented on #959
Reopening issue because the fix doesn't work with OpenGL.

[2022-03-01 06:00] syntheticmagus commented on #959
@CedricGuillemet I repro that this Playground does not work on Android, but it does not look to me like this is the same issue. For one thing, the unimplemented code path which caused the original problem is now implemented, so unless the same shader source is parsed differently on different platforms it should not be running into the original issue. More significantly, however, in my repro I'm ge

[2022-03-01 08:43] CedricGuillemet commented on #959
Technically, it's not the same throw.
Before the fix, it used to crash here for every platform:
https://github.com/BabylonJS/BabylonNative/blob/9b2bad35c4e020afde0d4355d7d817ebe0466afb/Plugins/NativeEngine/Source/ShaderCompilerTraversers.cpp#L369
Now, the crash happens here:
https://github.com/BabylonJS/BabylonNative/blob/e4a4d882af22768d2226fd1f2e178b46a20a1af3/Plugins/NativeEngine/Source/ShaderC

[2022-03-01 09:45] CedricGuillemet opened #1016 "Resolution, DPI and Graphics"
Related PR : https://github.com/BabylonJS/BabylonNative/pull/1003
Related issues : https://github.com/BabylonJS/BabylonNative/issues/1000 https://github.com/BabylonJS/BabylonNative/issues/65

Resolution and DPI are lacking consistency in the API contract.
On iOS, the back buffer must be in the logical coordinate system (scaled down by the pixel scale). The computation is done in the bridge.
On And

[2022-03-01 17:19] bghgary opened #1017 "Update documentation for Babylon React Native release"
_This is an issue that crosses both the Babylon Native and Babylon React Native and thus I'm just putting it in the Babylon Native repo._

Must:
- [ ] Reorganize README into sections with TOC at the top
- [ ] Update what is working and what is not working in terms of feature parity with Babylon.js
- [ ] Add a section on when it is appropriate to use Babylon Native / Babylon React Native compared t

[2022-03-01 17:20] #959 closed

[2022-03-01 19:31] ryantrem commented on #1017
We should link to the BN documentation about troubleshooting the Android emulator as well. See https://forum.babylonjs.com/t/babylonreactnative-failing-to-create-glcontext-on-android-emulator-with-playground-0-65/28006/6.

[2022-03-03 22:00] obasille commented on #147
Following our discussion on the [forum](https://forum.babylonjs.com/t/mutiple-views-support/28131), here is a use case for multiple views:
A ReactNative app showing a list of items (that may be scrolled vertically), witch each item showing:
1. A mesh rendered in a 3D view
2. Some native UI controls

As an example:
![image](https://user-images.githubusercontent.com/6388620/156659843-b8903c2b-f803-4

[2022-03-03 23:29] bghgary commented on #1017
Maybe also add documentation on performance issues.

[2022-03-04 14:10] kcinnay001 commented on #1017
Hi is there any ideas to when these issues will be sorted? I really think babylon.js is amazing and it's unfortunate that it doesn't work in react native. Also if this is resolved is there anyway a tutorial on youtube can be posted to guide users on using the react native babylon.js library?

[2022-03-04 15:37] CedricGuillemet opened #1019 "Android and ANR"
This is an issue under investigation.
ANR stands for Android Not Responding.

While testing a demo with BN on Android, I get a crash after loading the scene. It renders for 1 second or 2 then crashes. I get this error but no callstack, neither with the debugger:
[code]

Nothing relevant in the tombstone at first. After some research, some developers get the same error when dealing with ANR. Basica

[2022-03-04 16:47] bghgary commented on #1017
I'm not sure what you mean by "these issues", but we are working on documentation this month.

[2022-03-04 16:57] CedricGuillemet commented on #1019
I've tested changing the rendering loop to :
[code]
Still crashes.

[2022-03-04 17:28] ryantrem commented on #1017
Most of the Babylon.js features work in React Native today via @babylonjs/react-native. If you are running into issues, feel free to log issues at https://github.com/BabylonJS/BabylonReactNative/issues!

[2022-03-05 00:17] bghgary opened #1022 "Mouse input will not work if the mouse is over the window before the app is ready"
Once https://github.com/BabylonJS/BabylonNative/pull/1018 is merged, this bug will be visible. The problem is that `onDeviceConnected` event does not handle when existing devices are already connected. This causes the onDeviceConnected event to not fire to the JS side properly. Even after fixing that, there is still a problem. On the JS side, the interaction between NativeDeviceInputSystem and Nat

[2022-03-05 00:18] bghgary commented on #1022
The workaround for now is to make sure the mouse is not on top of the window before the app is ready. That will make the mouse work.

[2022-03-07 12:35] #923 closed

[2022-03-07 17:24] CedricGuillemet commented on #1019
Loading a 4K texture is enough to repro (debug build). Loading takes time, then renders for a few frames, then crashes.

[2022-03-07 17:27] CedricGuillemet opened #1023 "[ANDROID] Crash with Fatal signal 11"
Add this block inside experience.js
[code]
Run the app.
Touch the screen. On my device, it crashes or freeze the device for a few seconds. Still investigating. Only this in the logcat:
[code]
Sometimes in crashes in the second after the touch. Sometimes it takes a few seconds.

The script example creates 16 boxes but just with 1 box, I get the same issue.
The callstack is not consistent. Sometimes

[2022-03-09 09:12] CedricGuillemet commented on #1023
Tested with https://github.com/BabylonJS/BabylonNative/pull/1024 and could not repro the issue. Closing.

[2022-03-09 09:12] #1023 closed

[2022-03-10 09:06] #996 closed

[2022-03-10 19:35] bghgary commented on #1017
Add to documentation: https://github.com/BabylonJS/BabylonReactNative/issues/165#issuecomment-1064420837

[2022-03-11 17:37] CedricGuillemet opened #1027 "Rendering luminosity difference between Web/Native"
I'm doing some shader work and asset testing. Basically, I'm trying to display the same scene on Web and Native. While testing, I've realized that the rendering is way darker on Native compared to Web.

[2022-03-14 14:09] CedricGuillemet commented on #1027
Duplicate here : https://github.com/BabylonJS/ThePirateCove/issues/171 for private assets.

[2022-03-14 14:13] CedricGuillemet commented on #1027
experience.js cube gives the same pixels between web and native.

[2022-03-14 16:12] CedricGuillemet commented on #1027
A NodeMaterial with a texture and `convert to linear space` on gives the same result.

[2022-03-14 20:11] Alex-MSFT opened #1030 "Napi-JSI ObjectWrap should extend Reference<Object>"
**Is your feature request related to a problem? Please describe.**
Currently the ObjectWrap implementation does not extend Reference<Object>, which leads to API differences between Napi-JSI and Napi-Direct implementations.  For example you cannot call Value() to get access to the JS Object from the context of the C++ class.

**Describe the solution you'd like**
We should change ObjectWrap to exten

[2022-03-14 20:28] bghgary commented on #1030
See https://github.com/BabylonJS/BabylonNative/pull/1029 for how the CI is failing when the proposed change.

[2022-03-15 16:44] PolygonalSun commented on #1022
PR for BJS: https://github.com/BabylonJS/Babylon.js/pull/12164

[2022-03-15 16:45] Alex-MSFT commented on #987
createImageBitmap is now supported for internal operations via engine.createImageBitmap.  There is possibly a minor follow up task if we want to support this externally.

[2022-03-15 16:45] #987 closed

[2022-03-15 16:52] SergioRZMasson commented on #790
Conversation happening on PR #1028

[2022-03-17 00:05] bghgary opened #1034 "Update Babylon Native to latest release candidates from Babylon.js"
As Babylon.js approaches 5.0, we should update Babylon Native and Babylon React Native with the latest npm package as soon as they are released.

[2022-03-21 15:07] CedricGuillemet commented on #1027
Fixed in bjs : https://github.com/BabylonJS/Babylon.js/pull/12172

[2022-03-21 15:07] #1027 closed

[2022-03-21 22:50] PolygonalSun commented on #1022
Closing as work is complete

[2022-03-21 22:50] #1022 closed

[2022-03-22 16:44] bghgary commented on #1017
https://github.com/BabylonJS/ThePirateCove/issues/177

[2022-03-22 17:28] ryantrem commented on #932
It seems like this still happens, though now it is harder to repro. It seems like I have to do something that affects timing, like interacting with the app (e.g. touch input) and after 5-10 seconds I am able to get a metal validation error that looks the same. I'm testing the built packages so it's a bit harder to see the stack, but it looks like it is probably the same thing:
[code]

[2022-03-22 19:02] PolygonalSun commented on #596
Change is in PR: https://github.com/BabylonJS/BabylonReactNative/pull/362

[2022-03-22 20:04] bghgary commented on #596
Okay to close?

[2022-03-22 22:38] #596 closed

[2022-03-22 22:38] PolygonalSun commented on #596
PR is merged

[2022-03-28 17:27] papadako commented on #619
Hi @RaananW

I used to have a running image tracking example. Unfortunately, currently, it does not work on android with chrome 99, Babylon 5.0.0-rc11, and the latest AR services. Nothing exceptional in the logs too.

Are there any changes that I have to consider? Btw http://arimg.glitch.me/ works as expected.

Best

[2022-03-28 19:28] RaananW commented on #619
Sorry, just to be sure - @papadako - are you referring to a web-based application or a native application?

[2022-03-29 00:20] bghgary commented on #1017
https://github.com/BabylonJS/BabylonNative/compare/master...bghgary:update-readme-docs?expand=1&short_path=f1355fd#diff-f1355fd54329147c830843ab133fed7716180c3242031487b861a2a3235d0078

[2022-03-29 10:24] papadako commented on #619
web-based application

[2022-03-29 12:37] papadako commented on #619
It seems to be a problem with rc2 and upwards. At least beta-11 works

[2022-03-29 17:04] Alex-MSFT commented on #619
Taking a look now, I suspect the change is probably here:
https://github.com/BabylonJS/Babylon.js/blob/97c5bc5bbcccbeb6834b1ec70a25f67c1226afb4/packages/dev/core/src/XR/features/WebXRImageTracking.ts#L264

This was changed from an await to a synchronous call, which matched the definition in webxr.d.ts, but does not match the explainer here:
https://github.com/immersive-web/marker-tracking/blob/mai

[2022-03-29 18:30] Alex-MSFT commented on #619
@papadako - Thanks for bringing this to my attention!
I have a fix pending here PR https://github.com/BabylonJS/Babylon.js/pull/12176

[2022-03-29 20:08] carolhmj opened #1040 "Crash when setting a CubeMap reflectionTexture for a PBRMaterial in 0.64"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CubeMap texture
2. Create a PBRMaterial
3. Set the texture as reflectionTexture

**Screenshots**
![uJboImTQh9qaL_iMokIrEHeaTnQD9XdBnJkXPoirW0htzGGDIjXjK4eSJu_Hg_AFuyWJwngIeqn1YNrHMff_r5Sqqye2z49ha2lkrGB3IOBWhDVZyUfCqd000x9OESqW9Tf3BVhid_Yky6PL

[2022-03-29 20:12] bghgary commented on #1040
Moving to BabylonNative repo since it's an issue in the NativeEngine.ts on the Babylon.js side.

[2022-03-29 20:44] carolhmj opened #1041 "Artifacts when rendering a ParticleSystem"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple particle system with any texture

**Screenshots**
![wI1zRSBgVeERYKFyIS6l94SIwY9K3kQbzngFg-_bj8I3LzzzYMdsJV5-67OhGhXADYY_cneQmjQRBK7dgRt1PnU19FSjzVZqF8XRhOyz4pdKWYsD7oi1nOGAOWNsIwXg0_vh

[2022-03-30 14:02] carolhmj opened #1044 "CreateGroundFromHeightMap has no effect"
**For questions, please use the [forum](https://forum.babylonjs.com)**.

**Describe the bug**
No heightmap is created and no warnings/errors are shown

**To Reproduce**
Steps to reproduce the behavior:
1. Use CreateGroundFromHeightMap with any image https://doc.babylonjs.com/divingDeeper/mesh/creation/set/ground_hmap

**Expected behavior**
A heightmap mesh should be created

**Other**
 - Platform:

[2022-03-31 07:35] papadako commented on #619
Thanks! I will wait for a new rc to test and report back

[2022-03-31 16:01] CedricGuillemet opened #1047 "[Android/iOS] Performance when touching screen"
With this repo : https://github.com/CedricGuillemet/SpaceDemoAR
There is a big performance drop when rotating camera. Android device 30 -> 20 FPS. iPhone 11 50 -> 30 fps
After getting back from AR, the difference is even worse. Android 30 -> 8FPS
I'll try to get more details (does it happen with BabylonNative as well) and a PG to make it easier to repro.

[2022-03-31 18:07] PolygonalSun opened #1048 "Implement Improved Pointer Support"
We want to improve pointer support for BabylonNative and BabylonReactNative.  The ultimate goal is to get full pointer support (mouse and touch) for all supported devices.  This initial push will allow us to support the following:

- [x] Win32 Mouse (Buttons and Wheel)
- [x] UWP Mouse (Buttons and Wheel)
- [x] MacOS Mouse (Buttons and Wheel)
- [x] iOS Touch (Multi-Touch)
- [x] Android Touch (Multi

[2022-03-31 18:07] bghgary commented on #1034
5.0.0 is in.

[2022-03-31 18:07] PolygonalSun commented on #1048
PR: https://github.com/BabylonJS/BabylonNative/pull/1011

[2022-03-31 19:25] SergioRZMasson opened #1049 "Morph targets are broken on Android."
## Overview

Morph targets do not work on android, bgfx requires uses (renderer_gl.cpp, 2835):

g_caps.limits.maxTextureLayers   = BX_ENABLED(BGFX_CONFIG_RENDERER_OPENGL >= 31) || BX_ENABLED(BGFX_CONFIG_RENDERER_OPENGLES >= 31) || s_extension[Extension::EXT_texture_array].m_supported ? uint16_t(bx::max(glGet(GL_MAX_ARRAY_TEXTURE_LAYERS), 1) ) : 1;

This does not allow texture arrays to have length

[2022-04-01 16:19] #790 closed

[2022-04-01 16:25] PolygonalSun opened #1053 "Incorrect rendering when renderOverlay is set to true for meshes"
In BabylonReactNative, when you set renderOverlay to true for a mesh, the overlay will display with inconsistent color across the mesh:
**iOS**
![ios.png](https://images.zenhubusercontent.com/5dc1be60a240680001cc1efe/91f05b9a-0abf-4c70-b025-32f502e62021)
**Android**
![android.png](https://images.zenhubusercontent.com/5dc1be60a240680001cc1efe/b40502ed-a5fc-43a0-ba07-bcdc38221ec3)

**Note: This beha

[2022-04-01 22:24] bghgary commented on #1053
I can't repro this with the emulator.

[2022-04-01 22:25] bghgary commented on #1053
No repro with my device either.

[2022-04-01 22:28] bghgary commented on #1053
This is what happens on the PG. I think there is some z-fighting issues.
https://playground.babylonjs.com/#JPXG9M

[2022-04-01 23:42] bghgary commented on #1053
The issue is that renderOverlay uses zOffset which is not supported in Babylon Native yet.

https://github.com/BabylonJS/BabylonNative/blob/762acec36b069ebf37cc6b30b8d5d974c550ffe3/Plugins/NativeEngine/Source/NativeEngine.cpp#L806-L808

Removing `bug` tag.

[2022-04-04 12:22] papadako commented on #619
Thanks! 5.0.0 has my issue resolved

[2022-04-05 08:27] #1001 closed

[2022-04-05 15:38] CedricGuillemet commented on #810
Related : https://forum.babylonjs.com/t/cant-clear-dynamictexture-to-transparent-in-babylonreactnative/28933/16

[2022-04-05 15:55] bwrsandman commented on #563
You should be using https://github.com/bkaradzic/bgfx.cmake it's the official cmake scripts for bgfx and it's actively maintained.
Also we have automated ci on it.

[2022-04-05 16:44] bghgary commented on #1053
Log an error when this happens for now.

[2022-04-06 11:03] CedricGuillemet commented on #1047
XR off, when constantly tapping the screen I get :
![image](https://user-images.githubusercontent.com/1312968/161960868-c634157c-4f53-408a-a7fd-f60d7c7f6e28.png)
This does not appear when dragging.

That's why there is a
"When rendering a somewhat complex scene, touch start and end events trigger a noticeable stutter or frame drop, even if there is no touch handler configured."

[2022-04-06 11:06] CedricGuillemet commented on #1047
ping @PolygonalSun

[2022-04-07 00:24] bghgary commented on #563
We are already a fork of the official one you linked to. We can't use the official one because we have custom changes to bgfx that we haven't contributed back yet.

[2022-04-07 00:31] bghgary commented on #563
I suppose we can reconfigure the GitHub fork to actually be parented to the official one now. We will have to delete the repo and fork a new one. https://stackoverflow.com/questions/5749246/how-do-i-change-which-github-project-i-forked-from

[2022-04-07 08:19] CedricGuillemet commented on #1047
Fixed by adding these lines:
[code]
I found it very dangerous to do picking by default for performance on user apps. Do they know they have to add these lines?

[2022-04-07 16:14] bwrsandman commented on #563
Which custom changes have you made? Is there a list somewhere?
I'm a maintainer so I can facilitate that process

[2022-04-07 16:25] bghgary commented on #563
We have a forked version of bgfx. I don't think we have changes to bgfx.cmake itself at the moment.

How does this work?

[2022-04-07 17:27] bwrsandman commented on #563
You would configure bgfx.cmake with `-DBGFX_DIR` to the path of your fork

[2022-04-07 19:13] bghgary commented on #563
Sorry, I don't get it. What happens to the submodules under bgfx.cmake?

[2022-04-08 12:57] bwrsandman commented on #563
From what you've said it seems like you're using your own fork of bgfx.cmake because you're using a forked version of bgfx and bx. Aside from that there are no changes to bgfx.cmake.

If that's the case you can use upstream bgfx.cmake in the following way:

Submodules:

* BabylonNative:
  * **bgfx.cmake** (upstream, used)
    * bx (upstream, unused)
    * **bimg** (upstream, used, normally)
    *

[2022-04-08 22:59] bghgary commented on #563
I'm not sure this is a good solution. We will have two submodules for bx, bgfx, and possibly. That seems a bit crazy. Forking bgfx.cmake is much cleaner and I don't see a downside. Why is this a worse solution?

It seems like if you want bgfx.cmake to be more flexible, it should not have submodules and consumers can choose to add submodules if they want.

[2022-04-12 12:49] CedricGuillemet commented on #1047
`skipPointerDownPicking` added along `skipPointerMovePicking`. Closing.

[2022-04-12 12:49] #1047 closed

[2022-04-13 12:28] HedwigAR opened #1077 "Memory keeps climbing in specific situations"
**Describe the bug**
I am using a dynamic texture to draw text on a texture. However, I'm noticing the memory used going up and not coming down. I've asked on the forum (https://forum.babylonjs.com/t/cant-clear-dynamictexture-to-transparent-in-babylonreactnative/28933), but the conversation ran stale there, so I figured I should make a reproducible project.

**To Reproduce**
I've created a reposit

[2022-04-14 18:24] syntheticmagus commented on #634
Affected by https://github.com/microsoft/arcana.cpp/pull/36.

[2022-04-14 20:53] PolygonalSun commented on #1048
PR is merged

[2022-04-14 20:53] #1048 closed

[2022-04-18 17:23] Alex-MSFT commented on #619
With #1059 and Babylon.JS 5.2.0 WebXR Image Tracking now supported on iOS and Android.

[2022-04-18 17:23] #619 closed

[2022-04-18 21:10] ryantrem commented on #619
@tinanigro, @HedwigAR ☝🏻

[2022-04-18 23:45] ryantrem opened #1062 "Windows debug libs are gargantuan"
**Describe the bug**
The Babylon Native Windows static libs (debug) are quite large, and in fact too large now to be packaged into an npm package for Babylon React Native and published to npmjs.org (e.g. https://github.com/BabylonJS/BabylonReactNative/runs/6043625321?check_suite_focus=true).

Some of the most notable large libs are (note each of these are built for four architectures, so multiple

[2022-04-18 23:51] tymlipari commented on #1062
C++/WinRT makes extremely heavy use of template specialization which tends to blow up static libraries. We should consider experimenting with the `WINRT_LEAN_AND_MEAN` macro to see if that improves things.

Another thing we'd wanted to look at in the past was whether or not we could consume the core BabylonNative libraries as a dynamic library rather than statically linking it so that the only sta

[2022-04-19 16:15] bghgary commented on #1062
Other options we are considering:
- Compile the debug libraries basically as release except against the debug C++ runtime
- Split the Windows npm packages into different flavors

[2022-04-21 18:42] bghgary commented on #694
We can bring this back if necessary.

[2022-04-21 18:42] #694 closed

[2022-04-21 18:47] bghgary commented on #407
@CedricGuillemet Please link the PR that fixed this.

[2022-04-21 18:49] bghgary commented on #553
This is to correctly set the engine._caps from the native side.

[2022-04-21 18:51] bghgary commented on #401
Pretty sure we don't have 3x3 matrix in Babylon.js. Reopen if we need this.

[2022-04-21 18:51] #401 closed

[2022-04-21 18:54] bghgary commented on #300
Reopen if we have a need to make this work.

[2022-04-21 18:54] #300 closed

[2022-04-21 19:00] bghgary commented on #849
We need to check if this still repros since we added float texture support.

[2022-04-22 07:48] CedricGuillemet commented on #407
PR https://github.com/BabylonJS/BabylonNative/pull/990
And remaining option work : https://github.com/BabylonJS/BabylonNative/issues/992

[2022-04-22 07:48] #407 closed

[2022-04-25 18:07] bghgary commented on #878
Closing for now. If someone has a specific device that repros more, we can reopen.

[2022-04-25 18:07] #878 closed

[2022-04-25 18:09] bghgary commented on #778
@CedricGuillemet Can you check if there is a test on the Babylon.js side that tests this?

[2022-04-25 18:28] bghgary commented on #140
@PolygonalSun Can you check if this is something you want to tackle?

[2022-04-25 18:39] bghgary commented on #317
Reopen if this is still useful.

[2022-04-25 18:39] #317 closed

[2022-04-25 18:40] bghgary commented on #337
We should take a new version of N-API from the node.js repo before even considering fixing anything here.

[2022-04-25 18:41] bghgary commented on #343
Reopen if we find this to be annoying and want to split.

[2022-04-25 18:41] #343 closed

[2022-04-25 18:56] bghgary commented on #447
This is not possible with CMake.

[2022-04-25 18:56] #447 closed

[2022-04-25 18:57] bghgary commented on #518
Bucket with other perf issues and maybe split into separate issues.

[2022-04-25 19:00] bghgary commented on #695
Part of regression testing.

[2022-04-26 00:18] bghgary opened #1067 "Add CI tests for the install target"
Currently we have an install target that bundles the include and libs into a nice clean folder, but it is very easy to do this wrong (e.g., missing libs, etc.) This can be mitigated by adding some tests in CI that consume the output of the install and try to build.

[2022-04-26 22:45] bghgary commented on #945
#922 depends on this one.

[2022-05-02 14:51] sokolyaka opened #1070 "Issue with building the Android Playground app"
Hi!
I am trying to build the Android Playground app using MacBook Pro M1.
I follow the build guide and did all steps mentioned in the guide:

1. Installed CMake 3.19.0
<img width="515" alt="Screenshot 2022-05-02 at 17 32 39" src="https://user-images.githubusercontent.com/11253928/166252631-e4b6edfe-0849-4b5c-b70d-eb2e30abf91f.png">

2. Ninja
<img width="686" alt="Screenshot 2022-05-02 at 17 34 19"

[2022-05-02 18:38] bghgary commented on #1070
I don't know anyone has tried to build Babylon Native on Mac for Android. We do build Babylon React Native on Mac for Android but it normally targets JSC or Hermes.

One thing you could try is to disable the v8inspector from the build or use JSC.

[2022-05-03 09:59] sokolyaka commented on #1070
Hey @bghgary, thanks for the suggestion! It is helped me to build the project, but when I am running the Playground app on my Android device, BabylonNative fails with such an issue:
<img width="1273" alt="Screenshot 2022-05-03 at 12 53 06" src="https://user-images.githubusercontent.com/11253928/166435036-202dba71-6078-47e2-a494-57c0deaf93e8.png">

[2022-05-03 14:36] sokolyaka commented on #1070
Ok, I was able to build it using a Windows machine.

[2022-05-03 14:36] #1070 closed

[2022-05-03 16:55] bghgary commented on #1070
Sounds good. This is technically still a problem though if we can't build Android on a Mac. If anyone is reading this thread and wants this to work, please reopen.

[2022-05-10 13:09] CedricGuillemet commented on #932
I did not repro. BN or BRN, iphone 11 and xcode 13.3.1

[2022-05-10 15:28] CedricGuillemet commented on #1044
Got it working with this script (win32 and Android)
[code]
It's copy pasted code from https://playground.babylonjs.com/#CQNGRK#0
That is being used for validation test.

IIRC @carolhmj you were using a different image. Can you please upload it somewhere?

[2022-05-10 15:46] SergioRZMasson commented on #1044
@CedricGuillemet , are you testing on BabylonNative? I was able to get it working on Babylon Native as well but the problem happens when using it on Babylon React Native.

[2022-05-10 16:20] CedricGuillemet commented on #1044
Issue is here : https://github.com/BabylonJS/Babylon.js/blob/fdbf393d1d7699dc7cc69cec1dca0819ebd2622a/packages/dev/core/src/Misc/fileTools.ts#L188

Typeof Image is Object and `forceBitmapOverHTMLImageElement` is false. Test should take native into account.

[2022-05-11 11:41] CedricGuillemet opened #1073 "iOS/MacOS/Android Tests infrastructure Steps"
Related : [test infrastructure](https://github.com/BabylonJS/BabylonNative/issues/220)

I have a plan consisting in individual steps. Each step can be done by a different person. Most steps depend on the previous one.
Platform can be treated in parrallel: Linux vs MacOS/iOS vs Android.
Steps tagged as (local) can also all be done before replicating on self hosted agent.
We can work on (local) task

[2022-05-11 13:36] dimitriosp opened #1074 "Build BabylonNative for ChromeOS"
Hello,
we are trying to run our babylon native app on Chrome OS but (of course) keep failing since there is no .so file build for ChromeOS, only for Android 9+.

`java.lang.UnsatisfiedLinkError: dlopen failed: library "libBabylonNativeJNI.so"`

Any idea how to build it for ChromeOS?

[2022-05-11 13:45] CedricGuillemet commented on #1044
Got the exception : "LoadFileError: Creating blobs from 'ArrayBuffer' and 'ArrayBufferView' are not supported"

[2022-05-11 15:43] SergioRZMasson commented on #1049
Fixed it by exposing bgfx caps to Babylon.js and appropriately setting MorphTargetManager._canUseTextureForTargets. Fix is implemented in two PRs:

[Babylon Native PR](https://github.com/BabylonJS/BabylonNative/pull/1075)
[Babylon.js PR](https://github.com/BabylonJS/Babylon.js/pull/12515)

[2022-05-12 17:19] bghgary commented on #1074
I don't think anyone has tried to do this. I don't think anyone on the team knows much about building for Chrome OS. Will you be willing to try to figure it out? I'm guessing that the CMake files (that produce `libBabylonNativeJNI.so`) are written in a way that doesn't work for Chrome OS.

[2022-05-12 20:58] bghgary commented on #932
I tried a few times to repro with BN, but wasn't able to.

[2022-05-12 21:26] bghgary commented on #1062
Just tested, `WINRT_LEAN_AND_MEAN` macro has no effect on static lib size for debug.

[2022-05-17 00:34] bghgary commented on #946
I investigated this a tiny bit. It looks like calling `engine.runRenderLoop` somehow interferes with the JSC debugger. Just commenting out this section makes the JSC debugger work fine.

[code]

I also tried just running the render loop with nothing in it, but this also breaks the JSC debugger.
[code]

[2022-05-19 09:51] ZhuoYitao commented on #1070
Hi @bghgary @sokolyaka , I tried to build the Android Playground app with jsc, but I got the following error, do you have any suggesstions?
[code]

[2022-05-19 18:03] bghgary commented on #1070
That doesn't look like an error message. Can you create post on the forum with more of the log?

[2022-05-19 22:32] PolygonalSun opened #1078 "Flaky Validation Test - Running Light Projection Texture"
Occasionally, when running CI in a PR, a specific validation test will fail, Running Light Projection Texture.  When it fails, the log will look almost exactly like this:
[code]
It only seems to happen in a Win32 pipeline and can occur in any combination of architecture (x64, x86) and D3D version (11, 12).  Usually rerunning the test will make it work.

As of right now, there is no reliable way to

[2022-05-22 05:16] ZhuoYitao commented on #1070
https://developer.android.com/studio/releases/gradle-plugin#cmake-imported-targets

Hi @bghgary, according to Android's document, the problem happens because the version of gradle plugin used in the playground project is too old. I solve this problem by adding the following config in app/build.gradle.
android {
  packagingOptions {
    pickFirst 'lib/arm64-v8a/libjsc.so'
  }
}

It means using the

[2022-05-22 05:20] ZhuoYitao commented on #1070
By the way, I have successfully build Android on a Mac with V8. However, I changed part of configs. I may propose an PR for this.

[2022-05-23 09:03] ZhuoYitao opened #1080 "Demo projects take too much memory"
Either the Android demo project or the iOS demo project takes more than 100MB memory. Considering they simply render a cube, the memory cost is too large. Is there any suggestion to reduce the memory usage?

P.S. I've changed some configs in 'Dependencies/bgfx.cmake/bgfx/src/config.h', such as the 'BGFX_CONFIG_MAX_DRAW_CALLS' definition, but the total memory keeps unchanged.

[2022-05-23 18:16] bghgary commented on #1070
Sounds good. Thanks for investigating!

[2022-05-24 03:45] ZhuoYitao commented on #1080
Hi @bghgary, do you have any idea about this issues? Let me know if I need to add more information.

[2022-05-24 04:43] ryantrem commented on #1080
Sounds related to #726 (or at least that issue probably has relevant context).

[2022-05-24 16:34] bghgary commented on #1049
Changes have landed.

[2022-05-24 16:34] #1049 closed

[2022-05-25 05:51] ZhuoYitao commented on #1080
@bghgary I will have a look at it.

[2022-05-26 21:59] thomlucc opened #1082 "Improve testing infrastructure"
Objective of this project is to improve the testing infrastructure to make it easier to test changes and to prevent regressions.

- [ ] Tech investigation and scoping
  - Look at all current [issues tagged with `testing`](https://github.com/BabylonJS/BabylonNative/labels/testing) and draft an approach

[2022-05-30 03:29] ZhuoYitao commented on #1080
Hi @bghgary，I notice that the LoadScript() method in ScriptLoader could cause a huge memory usage. When I comment out all lines in the "app:///Scripts/babylon.max.js" (which means no meaningful JS code will be run), running loader.LoadScript("app:///Scripts/babylon.max.js") still takes about 88MB of memory. Could you have a try at optimizing the loader?

[2022-06-01 02:49] ZhuoYitao commented on #1080
@bghgary Indeed, using the minified babylon.js can reduce the memory. But the reduced memory is still too large to embed Babylon Native into a mobile app. I guess there is memory leak(s) in the LoadScript() method.

[2022-06-02 18:14] CedricGuillemet commented on #1062
Did a 1st PR on BN : https://github.com/BabylonJS/BabylonNative/pull/1085
Work/test on BRN in progress.

[2022-06-03 16:19] CedricGuillemet opened #1086 "Custom ShaderMaterial error on iOS"
forum thread: https://forum.babylonjs.com/t/babylon-react-native-custom-shadermaterial-error-on-ios/31031

[2022-06-07 16:31] rgerd opened #1087 "Broken clearing in right eye on HL2 when rendering utility layer"
**Describe the bug**
<img width="600" alt="stereo-clear-artifacts" src="https://user-images.githubusercontent.com/4724014/180064594-238f7fc0-6b3f-4aeb-bd45-9c7e5244362b.png">

Rendering the utility layer scene via the near-interaction feature on HoloLens 2 (and possibly Oasis) causes bad clearing behavior in the right eye, producing big white bands across the screen that make it unusable.

**To Re

[2022-06-14 11:48] CedricGuillemet commented on #988
On Android, glBlitFramebuffer is broken with Mali chips : https://developer.arm.com/documentation/101897/0200/fragment-shading/multisampling-for-opengl-es

https://github.com/bkaradzic/bgfx/blob/89ae74122cdd8fc719ff467c2fbc377e45ea8b6c/src/renderer_gl.cpp#L3867

[2022-06-14 23:46] bghgary commented on #988
Is there a workaround?

[2022-06-15 09:27] CedricGuillemet commented on #988
Yes https://github.com/bkaradzic/bgfx/pull/2818

[2022-06-16 18:10] bghgary commented on #1062
PR: https://github.com/BabylonJS/BabylonReactNative/pull/416

[2022-06-28 08:32] Simbaclaws commented on #691
I would like to create a flutter FFI package that calls into native babylon API's...

However, flutter makes use of dart, not javascript.

It seems that babylon native has a lot of native code, and only a small part of it is javascript (probably translation layer).

I just need to translate the javascript side into dart and use that for the flutter package...

Can I perhaps get in contact with som

[2022-06-28 15:33] CedricGuillemet commented on #992
Another issue brought up in this PR : https://github.com/BabylonJS/BabylonNative/pull/1092

Instances are CPU mem only and we need to know if being able to move to GPU instead would improve perf.

[2022-06-28 16:06] bghgary commented on #691
I'm not exactly sure what you mean by this, but I think you are saying you want to project the Babylon.js API into dart. Babylon Native is intended to bring in JavaScript as Babylon.js (the main API) is all in JavaScript. The [Babylon.js API surface](https://doc.babylonjs.com/typedoc/modules/BABYLON) is not small. I doubt it would be practical to use Babylon.js from dart.

I would expect any integ

[2022-06-28 21:39] bghgary commented on #691
Babylon Native can, in theory, integrate with Flutter as long as you use JavaScript as the language to interact with the Babylon.js API. The goal of Babylon Native is to be able to use the same rendering code used on the web in a native environment. This means that the code is written in JavaScript and may mean the integration requires bringing in a JavaScript runtime.

[2022-06-29 06:45] gedw99 commented on #691
https://pub.dev/packages/flutter_js

[2022-07-07 22:04] akssieg commented on #857
Is depth occlusion supported now in Babylonjs?

[2022-07-10 20:45] brian-hay commented on #398
@CedricGuillemetis in relation to your comment above, is the depth texture / depth renderer supported in Babylon Native at this point in time?

[2022-07-19 22:28] ryantrem opened #1103 "NativeCapture returns a solid color image"
**Describe the bug**
NativeCapture has regressed and the rbga8 buffer we get back is now just a solid color. It is not the same solid color each frame though, it seems to alternate between gray and the default clear color.

**To Reproduce**
Steps to reproduce the behavior:
I tested this in Babylon React Native, so I haven't confirmed it repros in Babylon Native directly but I expect it does.
In th

[2022-07-20 00:17] CoPrez opened #1105 "Simplify Class and Object JNI wrappers"
In this PR:
#1101

The Class and Object helpers in JavaWrappers were updated to restrict external access to the m_class and m_object internal members. The goal is to ensure when setting the member variables to a new jobject it using a global JNI ref (through calling env->NewGlobalRef). Doing so protects external classes and child classes from instantiating local JNI references that may become stal

[2022-07-20 09:10] brian-hay commented on #398
Hi @CedricGuillemet yes that post was from me :-)

I tried your proposed temporary workaround and it worked!

[2022-07-20 17:58] sebavan opened #1106 "Handle Engine States in Babylon Native"
urrently, NativeEngine.js does not support changing and relying on states through the available state properties:

[code]

Those are only working in WebGL and WebGPU. In Native state changes needs to flow through the old APIs dedicated functions like:
`setState`, `setDepthBuffer` and similar...

It is the source of both potential bugs (even in our current version) and forces ThinEngine to be bigge

[2022-07-20 23:56] ryantrem opened #1107 "Fix various issues with NativeCamera/VideoTexture"
An initial implementation of `NativeCamera` and `VideoTexture` was merged mid 2021 (for Android and iOS), but these implementations have some issues that need to be addressed for these components be ready for production usage:

## Changes Needed
### Android
- [x] Resolution selection - currently, it seems NativeCamera on Android gets the highest resolution camera feed, creates a texture that is ex

[2022-07-21 07:58] CedricGuillemet commented on #1107
# Texture management

On Android, only 1 RGBA texture is used for rendering and OES->RGBA conversion. I think it might result in a performance issue. The 1st context using it will block the other one until work is done. It would be great to do a profiling with and without 2 textures.

[2022-07-21 13:04] #1087 closed

[2022-07-21 14:12] SergioRZMasson opened #1108 "Smooth shading is not working in Babylon Native"
Reported from user on the forum: https://forum.babylonjs.com/t/smooth-shading-is-not-working-in-babylon-react-native/32295

**Describe the bug**
When enabling forceSharedVertices on a mesh that has no index buffers (that will be rendered by lines or other types of primitives), causes crash on Babylon Native and Babylon React Native applications.

**Expected behavior**
Smooth shading behavior for B

[2022-07-21 23:30] CoPrez opened #1111 "ValidationTests are failing because instanceColor isn't defined"
In PR #1110 the Babylon.JS package was updated. That resulted in the ValidationTests failing with the following error log:

[code]

@bghgary was helping me out and looking into the issue and found that the `Thin Instances` tests were fails if `scene.executeWhenReady()` was called, but didn't fail when `scene.render()` was used instead. The issue appears to be on the BJS side. As a mitigation to un

[2022-07-25 12:42] CedricGuillemet commented on #1111
I'm taking a look.

[2022-07-25 16:57] CedricGuillemet commented on #1111
https://github.com/BabylonJS/Babylon.js/pull/12792

[2022-07-26 15:38] #1111 closed

[2022-07-28 18:13] #1062 closed

[2022-07-28 18:30] #1108 closed

[2022-07-29 19:40] rgerd opened #1114 "KHR_texture_transform validation test crashing for D3D12 on BabylonJS 5.17.0"
Running validation tests for #1113 is showing an issue with D3D12:
`BGFX ASSERT m_device->CreateGraphicsPipelineState(&desc , IID_ID3D12PipelineState , (void**)&pso ) FAILED`

It occurs when capturing a screenshot for the test:
![bn-d3d12-val-error-ss](https://user-images.githubusercontent.com/4724014/181832308-4e05107e-d7c2-49cf-989a-51c75bad0f03.png)

Debug layers are on and the Visual Studio gr

[2022-08-03 00:39] bghgary commented on #988
@CedricGuillemet Is this fixed now?

[2022-08-03 00:41] bghgary commented on #1107
Related: https://github.com/BabylonJS/BabylonNative/issues/924

[2022-08-03 07:52] CedricGuillemet commented on #988
@bghgary No. There are issues on some devices. My guess is it's because of the size of the GPU internal framebuffer. It gets too big with MSAA. I have built some release .apk with variation on the MSAA technic, framebuffer size,.. I need to test. This will give me a better idea on how to fix it.

[2022-08-03 17:33] bghgary commented on #988
I get there are issues on some devices, but MSAA is now enabled again right?

[2022-08-03 17:34] CedricGuillemet commented on #988
yes.

[2022-08-03 20:13] bghgary commented on #894
Relevant code: https://github.com/BabylonJS/BabylonNative/blob/master/Apps/UnitTests/Scripts/tests.js#L1-L16

[2022-08-03 20:30] bghgary commented on #893
Related: https://github.com/BabylonJS/BabylonNative/pull/844

[2022-08-04 17:53] CedricGuillemet opened #1115 "CMake version with AndroidStudio on Ubuntu (and MacOS?)"
Ubuntu VM 729 has been deployed recently.
It contains a CMake update (3.22.1) for the Android Toolchain.
Diff is here: https://github.com/actions/virtual-environments/commit/f4fb14342c5031decb2d5b7e293ac042b4613966

The CMake installed by the CI (3.19.6) is not used by AndroidToolchain and it was not detected before (or something in paths changed)

I've added a hack that deletes the CMake folder i

[2022-08-04 18:27] CedricGuillemet commented on #1114
Fixed by this PR : https://github.com/BabylonJS/BabylonNative/pull/1113

[2022-08-05 09:48] CedricGuillemet commented on #1115
related : https://github.com/BabylonJS/BabylonNative/issues/1013

[2022-08-05 15:49] CedricGuillemet commented on #1115
Fixed in this PR : https://github.com/BabylonJS/BabylonNative/pull/1116

[2022-08-05 15:49] #1115 closed

[2022-08-05 15:49] #1114 closed

[2022-08-15 23:01] CoPrez opened #1118 "Napi ArrayBuffer constructor behaves inconsistently with undefined"
While testing out the [BaseTexture::readPixels()](https://doc.babylonjs.com/typedoc/classes/BABYLON.BaseTexture#readPixels) function I found that the behavior of the Napi ArrayBuffer construction [at this line](https://github.com/BabylonJS/BabylonNative/blob/40628380c9494a9a4f6d59c02f39521f8a3bddd0/Plugins/NativeEngine/Source/NativeEngine.cpp#L1331) was behaving differently in Babylon Native vs Ba

[2022-08-29 21:33] bghgary commented on #1118
I tested this with V8 (reference), Chakra, and JSI using the following code:

[code]

V8: argIsNull is true, arrayBufferIsNull is true
Chakra: argIsNull is true, arrayBufferIsNull is false
JSI: argIsNull is true, arrayBufferIsNull causes assert

These should all be the same.

[2022-09-07 00:16] Alex-MSFT opened #1131 "Properly handle readTextureAsync cancellation in Native Capture"
In NativeCapture, we currently do not handle the possibility that readTextureAsync can fail.  It is possible that if NativeCapture is running at the end of the engine lifetime that we will not be able to hand back results to NativeCapture, and improperly handle the return value of the task.

We should add some level of exception handling or pre-emptively end the NativeCapture session and drain all

[2022-09-07 09:49] CedricGuillemet commented on #988
MSAA fixed with context config. Closing.

[2022-09-07 09:49] #988 closed

[2022-09-07 09:50] CedricGuillemet commented on #507
MSAA back on. Closing.

[2022-09-07 09:50] #507 closed

[2022-09-09 20:45] brian-hay opened #1134 "After update to 1.3.4 getting warning "The flags generateDepth/generateStencilBuffer are mismatched. Depth and stencil are combined in one texture""
Not a bug but I just updated to Babylon React Native 1.3.4 and am now receiving the warning:

`The flags generateDepth/generateStencilBuffer are mismatched. Depth and stencil are combined in one texture`

Should I be doing something different?

[2022-09-21 22:57] bghgary commented on #62
I checked a bunch of the checkboxes now that many of them are addressed. Only the zOffset one, which causes [this bug](#1053) and stub ones are left.

[2022-09-26 14:28] CedricGuillemet commented on #1134
@brian-hay On which platform do you get this message?

[2022-09-26 19:18] brian-hay commented on #1134
@CedricGuillemet this warning was on Android, specifically Android 11 on the Samsung Tab Active Pro (SM-T540).

[2022-09-27 00:25] nmongiya commented on #1134
I am also getting the same with the following packages

`"@babylonjs/core": "5.25.0",
    "@babylonjs/loaders": "5.25.0",
    "@babylonjs/materials": "5.25.0",
    "@babylonjs/react-native": "1.3.5",
    "@babylonjs/react-native-iosandroid-0-69": "1.3.5",
    "@babylonjs/react-native-windows-0-69": "1.3.5",`

and here is my device info

`System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Ma

[2022-09-28 15:49] CedricGuillemet commented on #1134
I've just test on master, RN 0.65 and 0.69 and babylon 5.25 and I don't repro.
@brian-hay / @nmongiya  Do you get the message in the logcat or the console? do you repro with the playground? ar you both on mac?

[2022-09-29 00:58] brian-hay commented on #1134
Hi @CedricGuillemet I see the warning in both the console and logcat. I'm deploying to Android 11 on the Samsung Tab Active Pro (SM-T540).

The only places in my code I'm explicitly referencing depth are a custom shader and a method to enable/update the depth renderer, similar to:

[code]

But as I say, prior to upgrading to Babylon React Native 1.3.4, this hasn't been a problem and that particula

[2022-09-29 17:09] CedricGuillemet commented on #1134
PR https://github.com/BabylonJS/BabylonNative/pull/1142

[2022-09-29 17:18] #1134 closed

[2022-09-29 17:23] bghgary commented on #1134
@brian-hay Thanks for the report. I've merged a fix. The check was bad. It may take some time before it gets to Babylon React Native. Let us know if you need it earlier for some reason.

[2022-09-29 20:19] brian-hay commented on #1134
Thanks @bghgary & @CedricGuillemet !

[2022-09-29 20:32] PolygonalSun opened #1143 "Keyboard Implementation"
The purpose of this task is to add Keyboard Support to Babylon Native so that keyboard input can be accepted for all supported platforms where it makes sense.

Platforms:
- [ ] Win32
- [ ] UWP
- [ ] MacOS
- [ ] Linux/X11
- [ ] iOS
- [ ] Android

[2022-09-29 20:38] PolygonalSun commented on #1143
Work has been started and will be tracked in the following PR: https://github.com/BabylonJS/BabylonNative/pull/1042

[2022-10-04 19:14] bghgary commented on #253
Related: #843

[2022-10-05 09:35] CedricGuillemet opened #1145 "GetResponseHeader for Linux/Apple/Android"
Followup to this PR : https://github.com/BabylonJS/BabylonNative/pull/1144
Only Win32 is implemented. Missing is Linux, Apple and Android.

[2022-10-11 20:24] #1145 closed

[2022-10-13 18:20] #1078 closed

[2022-10-13 18:21] bghgary commented on #1080
@ZhuoYitao Are you still seeing issues with this? If so, please reopen.

[2022-10-13 18:21] #1080 closed

[2022-10-13 18:22] #1082 closed

[2022-10-13 18:23] bghgary commented on #1086
Waiting for forum use to reply with test.

[2022-10-13 18:30] #667 closed

[2022-10-13 18:31] bghgary commented on #695
This is working now.

[2022-10-13 18:31] #695 closed

[2022-10-13 18:33] bghgary commented on #1106
Related: #778

[2022-10-13 18:35] bghgary commented on #810
Look at this with the shutdown scenarios.

[2022-10-17 20:50] docEdub commented on #843
Now implemented in https://github.com/BabylonJS/BabylonNative/pull/1146.

[2022-10-17 20:50] #843 closed

[2022-10-17 20:51] docEdub commented on #893
Implemented in https://github.com/BabylonJS/BabylonNative/pull/1146.

[2022-10-17 20:51] #893 closed

[2022-10-24 20:05] brian-hay commented on #1134
Hi @bghgary and @CedricGuillemet. Just wondering when the next Babylon React Native release is scheduled that includes this fix?

[2022-10-24 20:57] bghgary commented on #1134
We don't have a schedule for releases at the moment. We do it ad-hoc based on needs. Let us know if you need this fix more urgently and we will try to accommodate.

[2022-10-24 22:16] brian-hay commented on #1134
Thanks @bghgary . As it's a warning only, it's not a critical blocker, just an annoyance as it pops up every time we launch the app.

[2022-10-25 19:45] docEdub opened #1156 "Curl transfers not completing"
In [UrlRequest_Unix.cpp](https://github.com/BabylonJS/BabylonNative/blob/d414bcf7263832ed7e7456211132760c3c7e2e71/Dependencies/UrlLib/Source/UrlRequest_Unix.cpp), curl transfers are not always completing. Gary and I looked at this for a while and suspect that we're not using the curl library correctly.

Steps to reproduce the behavior:
1. On a Linux setup, start a script that runs the unit tests 1

[2022-10-28 07:13] LightYearDeveloper opened #1159 "About very slow loading with 3MB glb file"
I am using SceneLoader.ImportMesh() function to load some glb files.
And it takes about 4 seconds to load a 3MB glb file, so it's about 12 seconds to load three 3MB glb files.
Is this a normal speed of loading?
How could I improve it if it is not normal?
Thank you so much!

[2022-10-28 14:32] ryantrem commented on #1159
In a debug or release build?

[2022-10-28 16:21] bghgary commented on #1159
Also, please use the forum to ask questions.

[2022-11-01 17:41] #1159 closed

[2022-11-01 17:43] thomlucc commented on #1156
@CedricGuillemet - please check with @bghgary

[2022-11-04 09:23] CedricGuillemet opened #1162 "Unsupported methods in Validation tests"
Some validation tests are not properly tested because of a JS exception.
- Test should fail with JS exception
- Unsupported methods should be ...well, supported

[code]

These errors are visible in the nightly build logs.

[2022-11-04 16:42] CedricGuillemet opened #1163 "bgfx caps Initialization during 1st rendered frame"
While doing tests for a partner on Android, I've noticed that if a render target is created in JS before having a frame rendered with bgfx, then is crashes here:
https://github.com/BabylonJS/BabylonNative/blob/581b4b4e16a46e31b555204472886eb3fbf77418/Plugins/NativeEngine/Source/NativeEngine.cpp#L1457
It looks like the caps are not properly.
I didn't check other APIs
Also, note this happens with co

[2022-11-04 19:39] carolhmj opened #1164 "URL Processing Bug"
Related issue: https://forum.babylonjs.com/t/unable-to-load-model-from-firebase-storage-in-react-native/34502/

[2022-11-06 19:01] FranticOwl commented on #31
@bghgary, more than a year later and this is still an open issue?

Is there any actual plan to build support for Babylon Native, so that frameworks such as React-Native can simply use the sound API from Babylon to add audio to scenes?

[2022-11-07 17:14] bghgary commented on #31
Unfortunately, sound support is not actively being worked on right now. We attempted to start this a couple of times, but they both didn't work out for various reasons. cc @docEdub

[2022-11-09 09:38] CedricGuillemet commented on #1156
It's difficult to repro on my side. I'm even able to do 1000 runs without a failure. I let you fix it @docEdub

[2022-11-15 14:13] CedricGuillemet opened #1166 "DEPTH_COMPONENT16 and render buffer"
forum thread : https://forum.babylonjs.com/t/unsupported-texture-format-or-type-format-5-type-2/35694/3

A DEPTH_COMPONENT16 render buffer is created and it's currently unsupported by the engine.

Also, the RGBA16F format is not supported yet but it's quite easy to add.

[2022-11-16 15:27] CedricGuillemet opened #1167 "Windows/V8 and bgfx resources on CI"
With the Windows CI jobs with V8 engine instead of Chakra, when running the ValidationTests, bgfx reports that it reached the limit of texture handle.
It looks like resources are not destroyed, or not destroyed fast enough(?)
It doesn't repro locally.

[2022-11-16 17:32] #1162 closed

[2022-11-17 17:35] thomlucc commented on #518
related to #911

[2022-11-17 17:35] #518 closed

[2022-11-17 17:36] thomlucc commented on #220
related to #1073

[2022-11-17 17:36] #220 closed

[2022-11-17 19:13] thomlucc commented on #737
supercede by #1143

[2022-11-17 19:13] #737 closed

[2022-11-17 19:21] #351 closed

[2022-11-21 18:07] CoPrez opened #1169 "NativeCamera - The textures lifetime should be managed by the VideoTexture"
The current implementation of NativeCamera has the VideoTexture create a DynamicTexture and then pass a handle to UpdateVideoTexture on the native side. For both Android and iOS the implementation the CameraDevice (owned by the MediaStream) creates its own internal texture and then calls bgfx::OverrideInternal with the texture handle and their own internal texture.

That leads to a texture lifetim

[2022-11-23 23:23] #1169 closed